@import url('https://fonts.googleapis.com/css?family=Nunito')

@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '~@fortawesome/fontawesome-free/scss/solid.scss'
@import '~@fortawesome/fontawesome-free/scss/brands.scss'
@import '~vue-select/src/scss/vue-select.scss'
@import '~bootstrap/scss/bootstrap'

@import "~toastr"

@import 'var'
@import 'nav'
@import 'forms'
@import 'tables'
@import 'modal'
@import 'hours'
@import 'utilities'
@import 'elements/toastr'

body
	background: #f5f5f5
	font-family: 'Open Sans', sans-serif
	color: #6b6b6b
	font-weight: normal
	
	strong, h1, h2, h3, h4, h5
		color: #434343
		font-weight: 600
		
	table
		color: #6b6b6b

	@media(max-width: 768px)
		background: white

a 
	color: $dark-blue

a:hover
	color: $light-blue
	text-decoration: none

h1 
	color: #495057
	@media(max-width: 768px)
		font-size: 30px
		margin-bottom: 10px

[v-cloak]
	display: none

.no-margin
	margin: 0

.btn
	border-radius: 0
	border: 0
	padding: 0.5em 1em
	
	&:disabled
		&:hover
			cursor: not-allowed
		
.btn-primary
	background: $dark-blue
	border-bottom: solid 3px lighten($dark-blue, 20%) !important
	
	&:disabled
		background: lighten($dark-blue, 30%)
			
		&:hover
			background: lighten($dark-blue, 30%)
			
.btn-primary:hover
	background: black
	color: #ddd

.btn-default
	background: $light-blue
	color: $dark-blue
	border-bottom: solid 3px darken($light-blue, 10%) !important
	
.btn-danger 
	background: #dc3545
	border-bottom: solid 3px lighten(#dc3545, 10%) !important

.btn-default:hover
	background: #ddd
	color: black	

.btn-danger 
	border: none

.content
	width: calc(100% - #{$sidebar})
	margin-left: $sidebar
	padding: 20px
	padding-top: 80px

	@media(max-width: 768px)
		width: 100%
		margin-left: 0
		padding: 5px
		padding-top: 80px

.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus 
	outline: none
	box-shadow: none

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus 
	border-color: none
	box-shadow: none
	outline: 0 none
	border-bottom: solid 2px $dark-blue

button:focus
	border-color: none
	box-shadow: none 
	outline: 0

.unselectable
	-webkit-user-select: none     
	-moz-user-select: none	
	-ms-user-select: none
	user-select: none

.no-left-margin
	margin-left: 0 !important

.self-clear:after 
	content: ""
	clear: both
	display: table

.va-top
	vertical-align: top

strong
	font-weight: 600

.text-primary
	color: $dark-blue !important
	
	&--bold
		@extend .text-primary
		font-weight: 700
