.tab
	margin: 50px auto
	width: 50%
	padding: 20px
	
	@media(max-width: 1200px)
		width: 75%

	@media(max-width: 992px)
		width: 90%

	@media(max-width: 768px)
		width: 100%
		padding: 0

.tab-title
	background: $dark-blue
	border: 1px solid $dark-blue
	color: white
	text-align: center
	padding-top: 10px
	h3
		font-size: 17px

	@media(max-width: 768px)
		background: white
		color: black
		border: none
		text-align: left
		h3
			font-size: 1.75rem

.tab-content
	background: white
	padding: 10px 10px 10px 0

.form-control, .vs__dropdown-toggle
	border: none
	border-bottom: 2px solid $light-blue
	border-radius: 0
	padding: 5px 10px
	padding-left: 0px
	@media(max-width: 768px)
		font-size: 12px

.vs__selected, .vs__search
	padding: 0 !important
	
.form-item
	width: 100%
	margin-bottom: 20px
	@media(max-width: 768px)
		font-size: 12px
		margin-bottom: 5px	

.form-icon
	width: 30px
	display: inline-block
	padding: 5px 10px
	color: $dark-blue

.form-input 
	display: inline-block
	width: calc(100% - 40px)

.form-input-1
	width: calc(50% - 45px)
	margin-right: 5px

.form-input-2
	width: 50%

.input-material
	padding-right: 0px
	padding-bottom: 0px

	@media(max-width: 768px)
		padding-right: 15px
		padding-bottom: 15px

textarea
	overflow: hidden
	
.datepicker
	background: white !important

.label-pdf
	padding-top: 7px
	text-align: right 
	padding-right: 0px
	label 
		margin-bottom: 0
	@media(max-width: 768px)
		text-align: left
		font-weight: bold

.editDesc 
	@media(max-width: 768px)
		font-size: 12px
		
.input-search 
	padding-left: 5px
	height: auto !important
