.week 
	@media(max-width: 768px)
		font-size: 11px

.project
	width: 200px
	border-right: solid 1px #ddd
	border-bottom: solid 1px #ddd
	float: left
	padding: 5px
	background: white	
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden

	@media(max-width: 768px)
		width: 100px

.weekDays
	width: calc(100% - 200px)
	float: left

	@media(max-width: 768px)
		width: calc(100% - 100px)

	.day
		width: calc(100% / 7)
		border-right: solid 1px #ddd
		border-bottom: solid 1px #ddd
		float: left
		padding: 5px
		background: white

	.day:hover
		cursor: pointer
		background: #ddd

.hidden-text
	color: rgba(0,0,0,0)
	user-select: none
	-moz-user-select: none
	-webkit-user-select: none
	-o-user-select: none

.add-hours
	position: absolute
	right: 5px
	bottom: 5px

.table-hours
	margin-bottom: 10px

.delete-button
	color: red
	border: none
	background: none
	float: right

.delete-button:hover
	color: black
	cursor: pointer

.edit-button
	color: $dark-blue
	border: none
	background: none
	float: right

.edit-button:hover
	color: black
	cursor: pointer

.filters
	position: absolute
	top: 35px
	right: 0
	background: white
	width: 200px