.modal-overlay
	z-index: 100
	background: rgba(0,0,0,0.2)
	position: fixed
	width: 100%
	height: 100%
	top: 0
	left: 0
	
	.modal-form, .modal-hours
		width: 768px !important

		@media(max-width: 768px)
			width: calc(100% - 20px) !important

	.modal-content
		z-index: 1
		background: white
		width: 65%
		margin: auto
		border-radius: 0
		padding: 20px
		top: 5vh

		@media(max-width: 768px)
			top: 15px
			margin: 10px
			width: calc(100% - 20px)

.modal-close
	position: absolute
	right: 0
	top: 0

	a
		padding: 10px

.modal-data
	padding: 2px !important
	border-top: 0 !important
	border-bottom: 1px solid #ddd 

.modal-button
	float: right
	margin-left: 10px
