.sidebar
	position: fixed
	width: $sidebar
	height: calc(100vh - 70px)
	top: 70px
	z-index: 80

	@media(max-width: 768px)
		display: none

.navbar
	position: fixed
	background: $dark-blue
	width: 100%
	height: $navbar
	padding: 0 0 0 10px
	z-index: 100

.nav-logo
	height: 60px
	
.nav-link
	width: 100%
	line-height: 0px
	padding: 10px
	color: $dark-blue
	display: block

.nav-link:hover 
	color: black
	background: $light-blue2

.sidebar-mobile
	width: 100%
	background: #f5f5f5
	
	@media(max-width: 768px)
		display: block

.hamburger
	display: none
	color: white
	margin-right: 10px

	@media(max-width: 768px)
		display: block

.hamburger:hover
	cursor: pointer
	display: inline-block

.btn-navbar
	color: white !important
	padding: 0 !important
	margin-right: 10px

.navbar-item
	display: inline-block

	i 
		font-size: 25px

.navbar-text
	color: white
	padding-bottom: 0
	margin-bottom: 0
	margin-right: 10px
	text-align: right
	@media(max-width: 768px)
		font-size: 11px
		max-width: 150px

.link-icon
	padding: 5px
	padding-left: 15px
	width: 20%
	display: inline-block

.link-text
	padding: 5px
	padding-left: 20px
	display: inline-block
	width:  70%

.link-selected 
	font-weight: bold

.profile
	padding: 20px 
	margin-bottom: 10px

.profile-button
	position: relative
	padding: 20px
	width: 65px
	border-radius: 50%
	color: $light-blue
	background: $dark-blue
	font-weight: bold
	margin-bottom: 10px

.update-button
	display: none
	@media(max-width: 768px)
		display: block

		
.nav-tabs
	.nav-link
		padding: 1em
		
		&:hover 
			background: #f5f5f5
			border: red !important
		
		&.active
			border-bottom: 1px solid #f5f5f5
			background-color: transparent
