.data-table 
	margin: 10px 0
	background: white
	box-shadow: $shadow

	td, tr
		border-bottom: 0 !important
		border-top: 1px solid #d9d9d9 !important
	
	@media(max-width: 768px)
		margin: 10px 0
		width: 100%
		font-size: 11px
		
	thead
		background: white 
		color: $dark-blue
		
		tr
			border: 0 !important
			border-top-left-radius: 5px
			border-top-right-radius: 5px
		
		th 
			border: 0 !important
			
	tbody
		background: white


.info-table
	tbody
		td, tr
			border-bottom: 0 !important
			border-top: 0 !important
			padding-top: 5px
			padding-bottom: 5px

.align-with-table
	margin-top: 20px

.table 
	@media(max-width: 768px)
		font-size: 12px
		
.table th, .table td
	@media(max-width: 768px)
		padding: 0.75rem 0.25rem

.table-modal
	margin: 0 !important
	width: 100%
