<template>
	<div>
		<div class="align-with-table">
			<h4>Materialen onder de minimum voorraad</h4>

			<errors :errors="errors_list" @close="clearErrors()"></errors>			
		</div>

		<table class="table data-table">
			<thead>
				<th> Naam </th>
				<th> Artikelnummer </th>
				<th> Voorraad </th>
				<th> Min. voorraad </th>
				<th></th>
			</thead>
			<tbody>
				<tr v-for="material in materials" v-if="material.minimum_stock > 0">
					<td> 
						<a :href="'/materialen/inzien/'+material.id">
							{{ material.name }}
						</a> 
					</td>
					<td> {{ material.number }} </td>
					<td> {{ material.stock < 0 ? 0 : material.stock }} {{ material.unit }} </td>
					<td> {{ material.minimum_stock }} </td>
					<td>
						<button class="edit-button" @click="stock = material">
							<i class="fa fa-plus"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>	

		<stock-modal v-if="stock"
					 @close="stock = null"
					 @saved="handleSavedStock($event)"
					 :material="stock">
		</stock-modal>
	</div>
</template>

<script>
	export default {
		mounted() {
			this.loadData();
		},
		data() {
			return {
				materials: [],
				stock: null,
			}
		},
		methods: {
			loadData() {
				axios.get('/minStock').then(response => {
					this.materials = response.data;
				}).catch(error => {
					this.catch(error); 
				});
			},
			parsePrice(input) {
				return parseFloat(input).toFixed(2).split('.').join(',');
			},			
			handleSavedStock(response) {
				this.$emit('message', response.data.message);
				response.data.material.parsedPrice = this.parsePrice(response.data.material.price);
				response.data.material.parsedBuyPrice = this.parsePrice(response.data.material.buyPrice);
				this.materials[this.stock.key] = response.data.material;
				this.loadData();
				this.stock = null;				
			}			
		},
		components: {
			stockModal: require('./stock-modal.vue').default
		}
	}
</script>