<template>
	<modal @close="$emit('close')" v-if="material">
		<h2>Voorraad {{ material.name }}</h2>
		<h5>Huidige voorraad: {{ material.stock }}</h5>

		<errors :errors="errors_list" @close="clearErrors()"></errors>

		<label>Toevoegen:</label>
		
		<input type="text" v-model="mutation"> {{ material.unit }}
		
		<div class="buttons col-md-12 self-clear">
			<div class="float-left">
				<button @click="addToMutation(1)" class="btn btn-primary ml-0">+1</button>
				<button @click="addToMutation(10)" class="btn btn-primary">+10</button>
				<button @click="addToMutation(100)" class="btn btn-primary">+100</button>
			</div>
			
			<div class="float-right">
				<button @click="saveStock()" class="btn btn-primary">Opslaan</button>
			</div>
		</div>
	</modal>	
</template>

<script>
	export default {
		props: ['material'],
		data() {
			return {
				mutation: 0
			}
		},
		methods: {
			addToMutation(amount) {
				this.mutation = parseInt(this.mutation) + parseInt(amount);
			},	
			saveStock() {
				axios.post('/updateStock', {
					material: this.material,
					mutation: this.mutation
				}).then(response => {
					this.$emit('saved', response);
				}).catch(error => {
					this.catch(error);
				});
			},
		}
	}
</script>
