<style scoped lang="sass">
	img 
		max-height: 300px
		max-width: 50%

		@media(max-width: 768px)
			max-width: 100%

	.btn-primary 
		margin-left: 0
</style>

<template>
	<div>
		<errors :errors="errors_list" @close="clearErrors()"></errors>

		<div v-if="dropzoneOptions && !material.photo && canEdit">
			<vue2-dropzone ref="uploadPhotoVueDropzone" id="dropzone" :options="dropzoneOptions"></vue2-dropzone>		
		</div>
		
		<div v-else>
			<img :src="`/storage/${material.photo}`">
			<div class="mt-2" v-if="canEdit">
				<button @click="deletePhoto(material.id)" class="btn btn-primary">
					Foto verwijderen
				</button>				
			</div>
		</div>
	</div>
</template>

<script>
	import vue2Dropzone from 'vue2-dropzone';
	import 'vue2-dropzone/dist/vue2Dropzone.min.css';

	export default {
		props: {
			data: {},
			canEdit: {
				type: Boolean,
				default: true,
			}
		},
		
		components: {vue2Dropzone},
		
		mounted() {
			this.material = JSON.parse(this.data);

			this.dropzoneOptions = {
				url: '/materials/upload/' + this.material.id,
				dictDefaultMessage: 'Foto uploaden',
				acceptFiles: 'image/*',
				maxFiles: 1,
				headers: {
					'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
				}				
			};
		},
		data() {
			return {
				material: {},
				dropzoneOptions: null
			}
		},
		methods: {
			deletePhoto(id) {
				axios.delete(`/materials/deletePhoto/${id}`).then(response => {
					this.material = response.data;
				}).catch(error => {
					this.catch(error);
				});
			}
		}
	}
</script>
