

body {
	margin: 120px 30px 105px 30px;
	font-family: 'roboto';
}

.content {
	font-size: 11px;
}

table {
	width: 100%;
	text-align: left;
}		

th {
	padding: 5px;
	border-bottom: 2px black solid;
	font-family: 'roboto-bold';
	font-weight: 400 !important;
}

td {
	vertical-align: top;
	padding: 5px;
	border-bottom: 1px solid #ddd;
}

h1 {
	font-family: 'roboto';
	font-weight: 400 !important;
	font-size: 30px;
	margin-top: 10px;
}

h2 {
	font-family: 'roboto';
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 400 !important;
}
h3 {
	font-weight: 400 !important;
	font-family: 'roboto-bold';
}
h4 {
	margin-bottom: 0;
	padding-bottom: 0;
}
img {
	height: 90px;
	margin: 8px 20px;
}

header {
	position: fixed;
	height: 120px;
	width: 100%;
	background: #1c1d4c;
	left: 0;
	top: 0;
	z-index: 10;
}

footer {
	position: fixed;
	height: 70px;
	width: 100%;
	background: #1c1d4c;
	left: 0;
	bottom: 0;		
	color: white;	
	text-align: center;
	font-size: 12px;
	padding: 10px;
	line-height: 17px;
	font-family: 'roboto';
	z-index: 10;
}

.white-bar {
	position: fixed;
	background: white;
	height: 10px;
	width: 10vh;
	z-index: 100;
}	

.blue-bar {
	position: fixed;
	background: #c5d7ec;
	height: 10px;
	width: 10vh;
	z-index: 100;
}

header > .white-bar {
	top: 100px;
}

header > .blue-bar {
	top: 110px;
}

footer > .white-bar {
	bottom: 90px;
}

footer > .blue-bar {
	bottom: 100px;
}

.page-break { 
	page-break-before: always; 
}

.pdf-photo-wrapper {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.pdf-photo {
	width: 60%;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

.pdf-photo-description {
	display: inline-block;
	vertical-align: top;
	padding-top: 20px;
}
