<style lang="sass">
	.modal-content
		display: block
</style>

<template>
	<div class="modal-overlay">
		<div :style="'width:'+width+'!important'" class="modal-content modal-form">
			<div class="modal-close">
				<a href="#" @click.prevent="close()">
					<i class="fa fa-times"></i> 
				</a>
			</div>
			<slot></slot>			
		</div>
	</div>	
</template>

<script>
	export default {
		props: ['width'],
		methods: {
			close() {
				this.$emit('close');
			}
		}
	}
</script>
