<template>
	<a :href="link">
		<div :class="{'link-selected': '/'+url == link}" class="nav-link">
			<div class="link-icon">
				<i class="fa" :class="icon"></i>
			</div>
			<div class="link-text">
				<slot></slot>
			</div>
		</div>
	</a>
</template>

<script>
	export default {
		props: ['link', 'icon'],
		data() {
			return {
				url:  window.location.pathname.split('/')[1]
			}
		},		
	}
</script>
