<template>
	<modal @close="$emit('close')">
		<h3>Profiel</h3>
		
		<div class="align-with-table">
			<h5>Timer</h5>
		</div>
		<timers table-class="table-modal" :current_user="user" :users="[user]"></timers>
	</modal>
</template>

<script>
	export default {
		props: ['user'],
		components: {
			timers: require('./lists/timers.vue').default
		}
	}
</script>