<template>
	<span> 
		<i v-if="direction == 'asc'" class="fa fa-sort-up"></i> 
		<i v-if="direction == 'desc' "class="fa fa-sort-down"></i>
	</span>	
</template>

<script>
	export default {
		props: ['direction']
	}
</script>