<style scoped lang="sass">
	.btn-table
		background: 0
		border: 0
		color: #1c1d4c

	.btn-table:hover
		color: #c5d7ec

	.hide-mobile
		@media(max-width: 768px)
			display: none
</style>

<template>
	<tr v-if="timer || current_user.id == user.id">
		<td v-if="timer && current_user.user_type == 1">{{ user.name }}</td>
		<td v-if="timer">{{ timer.time }}</td>
		<td v-if="timer">{{ timePassed }}</td>
		<td v-if="timer">
			<span v-if="!edit">{{ timer.description }}</span>
			<input v-else type="text" class="form-control" v-model="timer.description">
		</td>
		<td v-if="timer"> 
			<button v-if="!edit && user.id == current_user.id" 
					@click="edit = true" 
					class="btn btn-primary btn-table">
				<i class="fa fa-pencil-alt"></i> 
				<div class="hide-mobile">Bewerken</div> 
			</button>
			<button @click="update(timer)" 
					class="btn btn-primary btn-table"
					v-if="user.id == current_user.id && edit">
				<i class="fa fa-save"></i> 
				<div class="hide-mobile">Opslaan</div> 
			</button>
		</td>
		<td v-if="timer">
			<button @click="stopTimer(timer)" 
					class="btn btn-primary btn-table"
					v-if="user.id == current_user.id">
				<i class="fa fa-stop"></i> 
				<div class="hide-mobile">Stop</div> 
			</button>			
		</td>
		<td v-else colspan="5">
			<button @click="startTimer" 
					class="btn btn-primary btn-table"
					v-if="current_user && user.id == current_user.id">
				<i class="fa fa-play"></i> 
				<div class="hide-mobile">Start</div> 
			</button>				
		</td>
	</tr>
</template>

<script>
	export default {
		props: ['user', 'current_user'],
		mounted() {
			this.loadData();
		},
		data() {
			return {
				timer: null,
				timePassed: null,
				edit: false
			}
		},
		methods: {
			loadData() {
				axios.get('/timers', {params:{user_id:this.user.id}}).then(response => {
					if(response.data) {
						this.timer = response.data;
						console.log(response.data.id);
						this.timePassed = this.getTimePassed(this.timer.time);
						this.increment();
					}
				});
			},
			startTimer() {
				axios.post('/timers', {
					date: moment().format('YYYY-MM-DD'),
					time: moment().format('HH:mm'),
					user_id: this.user.id
				}).then(response => {
					this.timer = response.data;
					this.timePassed = this.getTimePassed(this.timer.time);
					this.increment();
				});
			},
			stopTimer(timer) {
				axios.delete('/timers/'+timer.id).then(response => {
					this.timer = null
				});

				timer.duration = this.timePassed;
				timer.text = timer.description;
				timer.id = null;

				this.$emit('stop', timer);				
			},
			increment() {
				window.setInterval(() => {
					if(this.timer) {
						this.timePassed = this.getTimePassed(this.timer.time);
						this.$forceUpdate();
					}
				}, 6000)
			},
			getTimePassed(time) {
				let start = this.hoursToMinutes(time);
				let now = this.hoursToMinutes(moment().format('HH:mm'));

				return this.formatHours(now - start);
			},
			hoursToMinutes(time) {
				let input = time.split(':');
				return parseInt(input[0] * 60) + parseInt(input[1]);
			},
			formatHours(minutes) {
				let min = this.leadingZero(minutes % 60);
				let hours = parseInt(minutes / 60);

				return hours + ':' + min;
			},		
			leadingZero(number) {
			    if(number < 10)
			    {
			        return '0' + number.toString();
			    } else 
			    {
			        return number;
			    }
			},
			update(timer) {
				axios.put('timers/'+timer.id, timer).then(response => {
					this.edit = false;
				});
			}
		}
	}
</script>
