<template>
	<div>
		<div class="mb-3">
			<ul class="nav nav-tabs">
				<li class="nav-item" @click.prevent="page = 'hours'">
					<a class="nav-link" href="#" :class="{'active': page === 'hours'}">Uren</a>
				</li>

				<li class="nav-item" @click.prevent="page = 'materials'">
					<a class="nav-link" href="#" :class="{'active': page === 'materials'}">Materialen</a>
				</li>

				<li class="nav-item" @click.prevent="page = 'photos'">
					<a class="nav-link" href="#" :class="{'active': page === 'photos'}">Foto's</a>
				</li>

				<li class="nav-item" @click.prevent="page = 'notes'">
					<a class="nav-link" href="#" :class="{'active': page === 'notes'}">Notities</a>
				</li>

				<li class="nav-item" @click.prevent="page = 'rates'">
					<a class="nav-link" href="#" :class="{'active': page === 'rates'}">Tarieven</a>
				</li>
			</ul>
		</div>

		<div class="row">
			<div class="col-md-9">
				<div v-if="page === 'hours'">
					<div class="d-flex">
						<div class="flex-grow-1 d-flex">
							<h3 class="mr-3">Uren</h3>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Zoeken" v-model="searchString">
							</div>
						</div>

						<div>
							<a v-if="project.status === 0" :href="`/finishProject/${project.id}`"
							   class="btn btn-default">
								Afronden
							</a>

							<a v-else :href="`/restoreProject/${project.id}`" class="btn btn-default">
								Herstellen
							</a>

							<invoice-form @saved="refreshHours(); invoiceFormStatus++;" :key="invoiceFormStatus" :project-id="project.id"/>

							<pdf-form :project_id="project.id" :desc="project.name"/>
						</div>
					</div>

					<hr>

					<div>
						<hours-list v-on:form="hours_form = $event"
									:search-string="searchString"
									:project_id="project.id"
									:user="user"
									ref="hoursListOpen"
									status="0"/>

						<hours-list v-on:form="hours_form = $event"
									:search-string="searchString"
									:project_id="project.id"
									:user="user"
									ref="hoursListClosed"
									status="1"/>
					</div>
				</div>

				<div v-show="page === 'materials'">
					<div class="d-flex">
						<div class="flex-grow-1 d-flex">
							<h3 class="mr-3">Materialen</h3>

							<div class="form-group">
								<input type="text" class="form-control" placeholder="Zoeken" v-model="searchString">
							</div>
						</div>

						<button class="btn btn-default"
								@click="projectMaterialForm = {project_id: project.id, material: null}">
							<i class="fas fa-plus mr-1"/> Toevoegen
						</button>
					</div>

					<hr>

					<project-materials @refresh="refreshProjectMaterials()"
									   @form="projectMaterialForm = $event"
									   :search-string="searchString"
									   ref="projectMaterialsOpen"
									   status="open"
									   :user="user"
									   :id="project.id"/>

					<project-materials @refresh="refreshProjectMaterials()"
									   @form="projectMaterialForm = $event"
									   :search-string="searchString"
									   ref="projectMaterialsDone"
									   status="done"
									   :user="user"
									   :id="project.id"/>

					<project-material-form v-if="projectMaterialForm" :data="projectMaterialForm"
										   @close="projectMaterialForm = null"
										   @saved="refreshProjectMaterials()"/>
				</div>

				<div v-if="page === 'rates'">
					<h3 class="mb-3">Tarieven</h3>

					<rates :project="project.id" :client="project.client_id" status="active"/>
				</div>

				<div v-if="page === 'notes'">
					<notes :project_id="project.id"/>
				</div>

				<div v-if="page === 'photos'">
					<project-photos :project="project"/>
				</div>
			</div>

			<div class="col-md-3">
				<h3>Gegevens</h3>

				<div class="mb-2">
					<span>Klant</span> <br>
					<strong>{{ project.client.name }}</strong>
				</div>

				<div class="mb-2">
					<span>Aangemaakt op</span> <br>
					<strong>{{ project.created_at }}</strong>
				</div>

				<div class="mb-2">
					<span>Aangemaakt door</span> <br>
					<strong>{{ project.user.name }}</strong>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import {ref} from "@vue/composition-api";
import HoursList from "../lists/hours-list";
import Rates from "../lists/rates";
import Notes from "../lists/notes";
import ProjectMaterialForm from "../forms/project-material-form";
import ProjectPhotos from "./ProjectPhotos";
import InvoiceForm from "../forms/invoice-form";
import PdfForm from "../forms/pdf-form";

export default {
	components: {PdfForm, InvoiceForm, ProjectMaterialForm, Notes, Rates, HoursList, ProjectPhotos},

	props: {
		project: Object,
		user: Object,
	},

	setup() {
		let page = ref('hours');
		let projectMaterialForm = ref(null);

		let hoursListOpen = ref(null);
		let hoursListClosed = ref(null);

		let projectMaterialsOpen = ref(null);
		let projectMaterialsDone = ref(null);
		
		let invoiceFormStatus = ref(0);
		let searchString = ref('');

		const refreshHours = () => {
			hoursListOpen.value.loadData();
			hoursListClosed.value.loadData();
		}

		const refreshProjectMaterials = () => {
			projectMaterialsOpen.value.refresh();
			projectMaterialsDone.value.refresh();
		}

		return {
			searchString,
			page,
			projectMaterialForm,
			hoursListOpen,
			hoursListClosed,
			projectMaterialsOpen,
			projectMaterialsDone,
			invoiceFormStatus,
			refreshHours,
			refreshProjectMaterials
		};
	},
}
</script>
