<template>
	<div>
		<div class="mb-4">
			<button class="btn btn-primary" @click="showDropzone = true">
				<i class="fas fa-plus"></i> Foto uploaden
			</button>
		</div>

		<div class="row border-bottom pb-2 mb-4" v-if="photos.length > 0" v-for="photo in photos">
			<div class="col-md-6 col-lg-4">
				<img class="w-100" :src="`/storage/${photo.path}`">
			</div>

			<div class="col-md-6 col-lg-8 mt-md-2 mt-0">
				<span @click="editDescription = photo.id; description = photo.description"
					  v-if="editDescription !== photo.id"
					  class="cursor-pointer">
					<em v-if="!photo.description" class="text-muted">Omschrijving invoeren</em>
					<span v-else>{{ photo.description }}</span>

					<i class="fas fa-pencil-alt pl-1"></i>
				</span>

				<div class="d-flex" v-if="editDescription === photo.id">
					<textarea v-model="description" class="form-control flex-grow-1" cols="30" rows="2"/>

					<button class="btn btn-danger" @click="editDescription = null; description = null">
						<i class="fas fa-times"></i> Annuleren
					</button>

					<button class="btn btn-primary" @click="saveDescription()">
						<i class="fas fa-save"></i> Opslaan
					</button>
				</div>
			</div>
		</div>

		<modal v-if="showDropzone" @close="showDropzone = false; loadData()">
			<h3>Foto uploaden</h3>
			<p>Je kan hier je foto's uploaden door ze in het vak te slepen of een foto van je apparaat te kiezen.</p>

			<dropzone id="dropzone" :options="dropzoneOptions"/>
		</modal>
	</div>
</template>

<script>
	import vue2Dropzone from 'vue2-dropzone';

	export default {
		props: {
			project: {
				required: true,
				type: Object,
			}
		},
		
		mounted() {
			this.photos = this.project.photos;
		},
		
		data() {
			return {
				photos: [],
				showDropzone: false,
				editDescription: null,
				description: null,
				dropzoneOptions: {
					url: `/projecten/${this.project.id}/upload`,
					dictDefaultMessage: 'Foto uploaden',
					acceptFiles: 'image/*',
					headers: {
						'x-csrf-token': document.querySelectorAll('meta[name=csrf-token]')[0].getAttributeNode('content').value,
					}
				}
			}
		},
		
		methods: {
			saveDescription() {
				axios.post(`/projecten/updatePhoto/${this.editDescription}`, {
					description: this.description,	
				}).then(response => {
					this.loadData();
					
					this.editDescription = null;
				}).catch(error => {
					console.error('error caught');
				});
			},
			
			loadData() {
				axios.get(`/projecten/${this.project.id}/photos`).then(response => {
					this.photos = response.data;	
				});
			}
		},
		
		components: {
			Dropzone: vue2Dropzone,
		}
	}
</script>
