<template>
	<div>
		<h3 class="align-with-table">Activiteiten</h3>

		<table class="table data-table">
			<thead>
				<th>Datum</th>
				<th>Tijd</th>
				<th>Activiteit</th>
			</thead>
			<tbody>
				<tr v-for="activity in activities">
					<td> {{ getDate(activity.created_at) }} </td>
					<td> {{ getTime(activity.created_at) }} </td>
					<td> {{ getAction(activity) }} </td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	import { datepickerMixin } from '../../mixins/datepickerMixin';

	export default {
		props: ['data'],
		mixins: [datepickerMixin],
		mounted() {
			this.user = JSON.parse(this.data);

			axios.get('/getActivities/'+this.user.id).then(response => {
				this.activities = response.data;
			});
		},
		data() {
			return {
				user: {},
				activities: []
			}
		},
		methods: {
			getDate(dateTime) {
				return dateTime.split(' ')[0].split('-').reverse().join('-');
			},
			
			getTime(dateTime) {
				let time = dateTime.split(' ')[1].split(':');
				time.pop();

				return time.join(':');
			},
			
			getAction(activity) {
				let data = JSON.parse(activity.data);
				let element;

				if(activity.type == 'hours') {
					element = this.formatHours(data.minutes) + ' uur';
				} else {
					element = data 
						? data.amount+ ' ' + data.unit + ' ' + data.name 
						: 'Geen data beschikbaar';
				}

				if(activity.action == 'new') {
					return element + ' toegevoegd aan project ' + activity.project?.name || 'Verwijderd project';
				} else if(activity.action == 'edit') {

				} else {

				}
			},
			
			formatHours(minutes) {
				let min = this.leadingZero(minutes % 60);
				let hours = parseInt(minutes / 60);

				return hours + ':' + min;
			},	
		}
	}
</script>
