<template>
	<div>
		<div class="row">
			<div class="col-md-4">
				<div class="align-with-table">
					<input type="text" class="form-control" placeholder="Zoeken..." v-model="searchInput">
				</div>
			</div>
		</div>

		<table class="table table data-table">
			<thead>
			<th>Naam</th>
			<th>Telefoonnummer</th>
			<th>E-mailadres</th>
			</thead>
			<tbody>
			<tr v-for="client in clientsFiltered">
				<td> <a :href="'/klanten/inzien/'+client.id"> {{ client.name }} </a>
				<td> {{ client.phone }} </td>
				<td> {{ client.email }} </td>
			</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
import {searchMixin} from "../../mixins/searchMixin";

export default {
	mixins: [searchMixin],

	mounted() {
		this.loadData();
	},

	data() {
		return {
			clients: [],
			searchInput: null,
		}
	},

	methods: {
		loadData() {
			axios.get('/getClients').then(response => this.clients = response.data);
		},
		
		searchFunction() {
			if(this.clients.length > 0) {
				return this.search(this.clients, this.searchInput, ['name', 'email']);
			}
		}
	},

	computed: {
		clientsFiltered() {
			return this.searchFunction();
		}
	}
}
</script>

<style scoped>

</style>
