<style lang="sass" scoped>
	.label-checkbox
		height: 100%
		width: 100%
		margin: 0
		padding: 10px
		width: 50px

	.no-padding
		padding: 0
</style>

<template>
	<div>
		<div class="row">
			<div class="col-md-12">
				<errors :errors="errors_list" @close="clearErrors()"></errors>
			</div>

			<div class="col-md-4">
				<table class="table data-table">
					<thead>
						<th colspan="2">Totalen</th>
					</thead>
					<tbody>
						<tr>
							<td style="width: 50%"> <b>Uren</b> </td>
							<td style="text-align: right">€{{ calcTotal(projects, 'hours') }}</td>
						</tr>
						<tr>
							<td style="width: 50%"> <b>Materialen</b> </td>
							<td style="text-align: right">€{{ calcTotal(projects, 'materials') }}</td>
						</tr>
						<tr>
							<td style="width: 50%"> <b>Totaal</b> </td>
							<td style="text-align: right">€{{ calcTotal(projects, 'total') }}</td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>

		<table class="table data-table">
			<thead>
				<th class="unselectable" @click="selectAll = !selectAll" style="width:20px"> 
					<input v-model="selectAll" type="checkbox"> 
				</th>
				<th>Naam</th>
				<th>Klant</th>
				<th>Kosten uren</th>
				<th>Kosten materialen</th>
			</thead>
			<tbody>
				<tr class="tr-checkbox" v-for="(project, key) in displayProjects">
					<td class="unselectable no-padding">
						<label class="label-checkbox" :for="'project'+project.id">
							<input :id="'project'+project.id" 
								   v-model="project.costs_overview" 
								   type="checkbox"
								   @change="save(project, $event.target.checked)"> 
						</label>
					</td>
					<td> <a :href="'/projecten/inzien/'+project.id">{{ project.name }}</a> </td>
					<td> 
						<a :href="project.client ?  '/klanten/inzien/'+project.client.id : '#'">
							{{ project.client ? project.client.name : 'Verwijderde klant' }}
						</a> 
					</td>
					<td style="text-align: right">€{{ project.costs ? project.costs.hours : 0 }}</td>
					<td style="text-align: right">€{{ project.costs ? project.costs.materials : 0 }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	export default {
		mounted() {
			this.loadProjects();
		},
		
		data() {
			return {
				projects: [],
				selectAll: true,
				step: 0,
			}
		},
		
		methods: {
			loadProjects() {
				axios.get('/costsProjects').then(response => {
					let projects = response.data;
					projects = this.assignCosts(projects);
					
					this.projects = _.orderBy(projects, ['costs_overview', 'name'], ['desc', 'asc']);
				}).catch(error => {
					this.catch(error);
				});
			},
			
			checkAll(checked, projects) {
				projects.map(project => {
					project.costs_overview = checked;
				});

				this.projects = projects;
			},
			
			assignCosts(projects) {
				projects.map(project => {
					project.costs = {
						hours: this.getCostsHours(project.hours, project), 
						materials: this.getCostsMaterials(project.project_materials, project)
					}; 
				});

				return projects;
			},
			
			getCostsHours(hours, project) {
				if(hours) {
					let price = 0;
					hours.map(hour => {
						price = price + parseFloat(this.findRateHour(hour, project));
					});
					return price.toFixed(2);
				} else {
					return 0;
				}
			},
			
			getCostsMaterials(materials, project) {
				if(materials) {
					let price = 0;
					materials.map(material => {
						price = price + parseFloat(this.findRateMaterial(material, project));
					});
					return price.toFixed(2);
				} else {
					return 0;
				}
			},
			
			findRateHour(hour, project) {				
				let user = hour.user_id;
				// First check if the project has a rate for user connected to the hour
				let rate_project = _.filter(project.rates, rate => {return rate.user_id == user});
				
				// If not, then check if it has a rate on the client
				let rate_client = project.client 
					? _.filter(project.client.rates, rate => {return rate.user_id == user})
					: 0;
				// If nothing else, then 0
				let rate = rate_project[0] ? rate_project[0].rate : rate_client[0] ? rate_client[0].rate : 0;

				return parseFloat(rate * (hour.minutes / 60));
			},
			
			findRateMaterial(material, project) {
				let price = material.altPrice ? 
						    material.altPrice : 
						    material.materials ? 
						    material.materials.price : 
						    null;

				return parseFloat(price * material.amount);
			},
			
			calcTotal(projects, type) {
				projects = _.filter(projects, {costs_overview: 1});
				
				let output = 0;
				projects.map(project => {
					if(type == 'hours' || type == 'materials') {
						output = output + parseFloat(project.costs[type]);
					} else {
						output = output + parseFloat(project.costs.hours);
						output = output + parseFloat(project.costs.materials);
					}
				});

				return output.toFixed(2);
			},
			
			save(project, checked) {
				project.costs_overview = checked ? 1 : 0;

				axios.post('/projecten/opslaan', project).then(response => {

				});
			}	
		},
		
		watch: {
			selectAll(val) {
				this.checkAll(val, this.projects)
			},
		},
		
		computed: {
			displayProjects() {
				return _.filter(this.projects, project => {
					return project.costs.hours !== 0 || project.costs.materials !== 0;
				});
			},
		}
	}
</script>
