<template>
	<modal v-if="project" @close="$emit('close')">
		<h4>Uren gemaakt op {{ date }} voor {{ project.name }} </h4>

		<errors :errors="errors_list" @close="clearErrors()"></errors>

		<button v-on:click="hourForm(date, project.id)" 
				type="button" class="add-hours btn btn-primary"> 
			<i class="fa fa-plus"></i> 
		</button>
		<table class="table">
			<tr>
				<th> <i class="fa fa-hourglass"/> </th>
				<th> <i class="fa fa-user"/> </th>
				<th> <i class="fa fa-comment"/> </th>	
				<th></th>		
			</tr>

			<tr v-for="hour in hours" :class="{'font-weight-bold': hour.status}">
				<td> {{ hour.output }} </td>
				<td> {{ hour.user.name }} </td>
				<td> {{ hour.description ? hour.description : 'Geen omschrijving ingevoerd' }} </td>
				<th> 			
					<button v-if="confirmDelete !== hour.id" v-on:click="confirmDelete = hour.id" class="delete-button"> 
						<i class="fa fa-trash"></i> 
					</button> 
					
					<button class="edit-button" 
							v-on:click="$emit('form', hour)"> 
						<i class="fa fa-pencil-alt"/> 
					</button> 	
					
					<div class="float-right" v-if="confirmDelete == hour.id">
						<button class="btn btn-primary" v-on:click="confirmDelete = false">Annuleren</button>
						<button class="btn btn-danger" v-on:click="deleteHour(hour.id)">Bevestigen</button>
					</div>
				</th>
			</tr>
		</table>
	</modal>
</template>

<script>
	export default {	
		props: ['data'],
		mounted() {
			let data = this.data;

			this.date = moment(data.date).format('DD-MM-YYYY');
			this.hours = data.hours;
			this.project = data.project;
			this.user = data.user;
		},
		data() {
			return {
				hours: [],
				project: {},
				date: null,
				confirmDelete: null,
				user: null,
			}
		},
		methods: {
			hourForm(date, project_id) {
				date = date.split('-').reverse().join('-');
				this.$emit('form', {date: new Date(date), project_id: project_id});
			},
			
			checkDeadline(date) {
				let time = moment().format('H');
				let subtract = time >= 12 ? 1 : 2;

				let hourDate = moment(date);
				let minDate = moment(this.minDate).subtract(subtract, 'days');

	            if(hourDate > minDate) {
	                return false;
	            } else {
	                return true;
	            }
			},
			
			deleteHour(id) {
		        axios.get('/uren/verwijderen/'+id).then(response => {
		            this.$emit('saved', response.data);
		        }).catch(error => {
		        	this.catch(error);
		        });				
			}			
		},
	}
</script>
