<style lang="sass" scoped>
	.bug
		color: red

	.btn
		margin-left: 0 !important

	h3
		margin-top: 20px
</style>

<template>
	<div>
		<button v-if="status == 'open'" @click="form = true" class="btn btn-primary"> 
			Nieuwe feedback <i class="fa fa-plus"></i> 
		</button>

		<div class="align-with-table">
			<h3> {{ status == 'open' ? 'Open punten' : 'Gesloten punten' }} </h3>

			<errors :errors="errors_list" @close="clearErrors()"></errors>
		</div>

		<table v-if="list && list.length > 0" class="table data-table">
			<thead>
				<th>#</th>
				<th>Datum</th>
				<th>Schatting</th>
				<th>Uren</th>
				<th colspan="2">Tekst</th>
			</thead>
			<tbody>
				<tr v-for="feedback in list">
					<td>{{ feedback.id }}</td>
					<td>{{ feedback.date }}</td>
					<td>{{ feedback.estimate_type == 0 ? 'Ja' : 'Nee' }}</td>
					<td>{{ feedback.estimate_hours }}</td>
					<td :class="{'bug': feedback.type == 1}">{{ feedback.text }}</td>
					<td> 
						<button v-if="status == 'open'" @click="confirm(feedback.id)" 
								 class="edit-button"> 
							<i class="fa fa-check"></i> 
						</button> 
						<button @click="remove(feedback.id)" class="edit-button">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<p v-else> Geen feedback gevonden. </p>

		<feedback-form @message="$emit('message', $event)" 
					   @close="form = false" 
					   @refresh="load()"
					   v-if="form"></feedback-form>
	</div>
</template>

<script>
	export default {
		props: ['status'],
		mounted() {
			this.load();
		},
		data() {
			return {
				form: false,
				list: []
			}
		},
		methods: {
			load() {
				axios.get('/getFeedback', {
					params: {
						status: this.status == 'open' ? 0 : 1,
						test: 'test'
					}
				}).then(response => {
					this.list = response.data;
				}).catch(error => {
					this.catch(error);
				});
			},
			confirm(id) {
				axios.get('/confirmFeedback/'+id).then(response => {
					this.$emit('message', response.data);
					this.load();
				}).catch(error => {
					this.catch(error);
				});
			},
			remove(id) {
				axios.get('/deleteFeedback', {
					params: {
						id: id
					}
				}).then(response => {
					this.$emit('message', response.data);
					this.load();
				}).catch(error => {
					this.catch(error);
				});
			}
		},
		components: {
			feedbackForm: require('../forms/feedback-form.vue').default
		}
	}
</script>