<template>
	<div>
		<h1>Uren</h1>
		
		<h4 v-if="!loading && hours">  
			<span v-if="hours.dateData.type === 0"> 
				{{ hours.dateData.first.monthName }} {{ hours.dateData.first.year }} 
			</span>
			
			<span v-if="hours.dateData.type === 1"> 
				{{ hours.dateData.first.monthName }}/{{ hours.dateData.last.monthName }} {{ hours.dateData.first.year }} 
			</span>
			
			<span v-if="hours.dateData.type === 2"> 
				{{ hours.dateData.first.monthName }} {{ hours.dateData.first.year }} - 
				{{ hours.dateData.last.monthName }} {{ hours.dateData.last.year }}
			</span>
			
			<div v-if="user && user.user_type === 1">
				- <span v-for="user in filters.users">{{ user.name }},</span>
			</div>
		</h4>

		<errors :errors="errors_list" @close="clearErrors()"></errors>

		<div class="mb-2">
			<button style="margin-right: 2px" class="btn btn-default no-left-margin" @click="currentMonth()"> 
				week {{ hours ? hours.dateData.week : null }} 
			</button>

			<button class="btn btn-primary" @click="previousMonth()"> < </button> 
			<button class="btn btn-primary" @click="nextMonth()"> > </button>

			<span style="margin-left: 10px; position: relative">
				<button class="btn btn-default" @click="filters.show = !filters.show"> Filters </button>
				
				<modal v-if="filters.show" @close="filters.show = false">
					<h3>Filters</h3>
					
					<div class="row mb-3">
						<label class="col-md-4">Gebruiker</label>
						
						<div class="col-md-8">
							<multiselect v-model="filters.users" 
										 :options="users.active" 
										 track-by="id" label="name" 
										 multiple :allow-empty="false">
							</multiselect>
						</div>
					</div>

					<div class="row mb-3">
						<label class="col-md-4">Datum</label>

						<div class="col-md-8">
							<datepicker input-class="form-control" v-model="filters.date"/>
						</div>
					</div>
					
					<div class="d-flex justify-content-end">
						<button class="btn btn-primary" @click="loadHours()"> 
							Filters toepassen 
						</button>
					</div>
				</modal>
			</span>
		</div>

		<div v-if="hours" class="week">
			<div class="project"> Dag <br> <span class="hidden-text">.</span>  </div>

			<div class="weekDays">
				<div v-for="day in hours.headRow"> 
					<div @click="form(null, day.date, null)" class="day">
						{{ day.day }} <br> <b> {{ day.weekDay }} </b>
					</div>
				</div>
			</div>

			<div v-for="row in hours.hourData">
				<div v-bind:title="row.project" class="project">
					<a :href="`/projecten/inzien/${row.project_id}`">
						{{ row.client }} - {{ row.project }}
					</a>
				</div>

				<div class="weekDays">
					<div v-for="day in row.period" @click="form(day.hours, day.date, row.project_id)" class="day">
						<span class="hidden-text" v-if="!day.hours">.</span>
						<span v-else :class="{'font-weight-bold': allHoursInvoiced(day)}"> 
							{{ day.hours }} 
						</span>
					</div>
				</div>
			</div>

			<div class="project"> <b>Totalen ({{ hours.total }})</b> </div>
			<div class="weekDays">
				<div v-for="day in hours.footRow"> 
					<div class="day">
						{{ day.output }}
					</div>
				</div>		
			</div>	
		</div>

		<day v-if="day" 
			 :data="day"
			 @form="$emit('form', $event)"
			 @close="day = null"
			 @saved="$emit('saved', $event); day = null;">
		</day>
	</div>
</template>

<script>
	import Multiselect from 'vue-multiselect'
	import Datepicker from "vuejs-datepicker";
	import moment from "moment";
	export default {
		mounted() {
			this.loadHours();
		},
		
		props: {
			user: Object,
		},
		
		data() {
			return {
		        filters: {
		            show: false,
		            users: [this.user]
		        }, 		
		        hours: {
					dateData: {
						week: null,
						year: null,
					}
				},
		        users: null,
		        day: null,
				loading: true,
			}
		},
		
		methods: {
	        nextMonth() {
				let date = moment(this.hours.dateData.first.date);

				date.add(1, 'weeks');
				
				Object.assign(this.hours.dateData, {
					week: date.format('W'),
					year: date.format('YYYY'),
				});

				this.loadHours();
	        },
			
	        previousMonth() {
				let date = moment(this.hours.dateData.first.date);

				date.subtract(1, 'weeks');

				Object.assign(this.hours.dateData, {
					week: date.format('W'),
					year: date.format('YYYY'),
				});
				
				this.loadHours();
	        }, 
			
	        currentMonth() {
	            axios.get('/getHours').then(response => this.hours = response.data).catch(error => {
	            	this.catch(error);
	            });
	        },
			
	        addToFilter(val) {
	            if(this.inArray(val, this.filters.users)) {
	                let index = this.filters.users.indexOf(val);
	                this.filters.users.splice(index, 1);
	            } else {
	                this.filters.users.push(val);
	            }
	        },
			
	        loadHours() {
				this.loading = true;
	        	this.day = null;
				
				let week = this.hours?.dateData.week ?? moment().format('W')
				let year = this.hours?.dateData.year ?? moment().format('YYYY')
				
				if (this.user.user_type === 1 && !this.users?.length) {
					this.loadUsers();
				}
				
				if (this.filters.date) {
					week = moment(this.filters.date).format('W');
					year = moment(this.filters.date).format('YYYY');
				}
				
	            axios.get('/getHours', {params: {
					week, year, user_ids: this.selectedUsers}
				}).then(response => {
					this.hours = response.data;
					this.message = 'Filters succesvol toegepast.';
					this.filters.show = false;
					this.filters.date = null;
				 }).catch(error => {
					this.catch(error);
				 }).finally(() => {
					this.loading = false;	
				});
	        },	 
			
	        inArray(val, array) {
	            let output = false;
	            array.map(function(e) {
	                if(e == val) {
	                    output = true;
	                }
	            })
	            return output;
	        },	
			
	        form(hours, date, project_id) {
	        	if(hours) {
	                axios.get('/queryHours', {
	                    params: {
	                        date: date,
	                        project: project_id,
	                        user_ids: JSON.stringify(this.selectedUsers)
	                    }
	                }).then(response => {
	                    let data = response.data;
	                    data.date = date;
	                    data.user = this.user;
	                    this.day = data;
	                }).catch(error => {
	                	this.catch(error);
	                }); 
	        	} else {
		        	this.$emit('form', {
		        		hours: hours,
		        		date: date,
		        		project_id: project_id
		        	});
	        	}
	        },
			
	        loadUsers() {
				axios.get('/getUsers').then(response => {
					this.users = response.data
				}).catch(error => {
					this.catch(error);
				});
	        },
			
			allHoursInvoiced(day) {
				return !_.find(day.data, {status: 0});				
			},
		},
		
		computed: {
			selectedUsers() {
				return _.map(this.filters.users, ({id}) => id);
			},
		},
		
		components: {
			day: require('./day.vue').default,
			Multiselect,
			Datepicker,
		}
	}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
