<template>
	<div v-if="hours && hours.length > 0">
		<div class="align-with-table">
			<h4> {{ status == 0 ? 'Open uren' : 'Gefactureerde uren' }} </h4>
			
			<i class="text-muted" v-if="hours.length === 0"> Geen uren gevonden </i>

			<errors :errors="errors_list" @close="clearErrors()"></errors>
		</div>	
			
		<table class="table data-table">
			<thead>
				<th>Uren</th>
				<th>Datum</th>
				<th>Gebruiker</th>
				<th>Omschrijving</th>
				<th style="width: 15px"></th>
				<th style="width: 15px"></th>
			</thead>
			
			<tbody>
				<tr v-for="hour in hoursFiltered">
					<td> {{ hour.output }} </td>
					<td> {{ hour.outputDate == '01-01-1970' ? 'Geen datum' : hour.outputDate }} </td>
					<td> {{ hour.user.name }} </td>
					<td> {{ hour.description ? hour.description : 'Geen omschrijving ingevoerd' }} </td>
					<td>
						<button @click="confirmDelete = hour.id" class="edit-button">
							<i class="fa fa-trash"></i>
						</button>						
					</td>
					<td> 
						<button @click="hourForm = hour" class="edit-button"> 
							<i class="fa fa-pencil-alt"></i> 
						</button> 
					</td>
				</tr>
			</tbody>
		</table>	
		
		<hour-form v-if="hourForm" :data="hourForm" :user_id="user.id" @close="hourForm = null" @saved="loadData()"/>
		
		<modal v-if="confirmDelete" @close="confirmDelete = null">
			<h3>Weet u het zeker?</h3>
			<div class="self-clear">
				<div class="pull-right">
					<button @click="confirmDelete = null" class="btn btn-danger">Annuleren</button>
					<button @click="deleteHour(confirmDelete)" class="btn btn-primary">Doorgaan</button>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	import HourForm from "../forms/hour-form";
	import {searchMixin} from '../../mixins/searchMixin';

	export default {
		mixins: [searchMixin],
		components: {HourForm},
		props: ['status', 'project_id', 'user', 'searchString'],
		
		mounted() {
			this.loadData()
		},
		
		data() {
			return {
				hours: null,
				confirmDelete: null,
				hourForm: null,
			}
		},
		
		methods: {
			loadData() {
				axios.get('/getHourList?id='+this.project_id)
					.then(({data}) => {
						this.hours = data[this.status];
					})
					.catch(error => {
						this.catch(error);
					});				
			},
			
			deleteHour(id) {
				axios.get('/uren/verwijderen/'+id).then(({data}) => {
					toastr.success('Uren succesvol verwijderd.');
					
					this.confirmDelete = null;
					this.loadData();
				}).catch(error => {
					this.catch(error);
				});
			}
		}, 

		computed: {
			hoursFiltered() {
				return this.search(this.hours, this.searchString, ['output', 'outputDate', 'user.name', 'description']);
			}
		},
	}
</script>
