<style scoped lang="sass">
	.buttons
		margin-top: 20px
		padding: 0px

	th 
		-webkit-user-select: none     
		-moz-user-select: none	
		-ms-user-select: none
		user-select: none
</style>

<template>
	<div>
		<h1>Materialen</h1>
		<a href="/materialen/nieuw" class="btn btn-primary" v-if="canEdit">
			<i class="fa fa-plus"/> Nieuw materiaal 
		</a>

		<div class="align-with-table">
			<div class="row">
				<div class="col-md-12">
					<errors :errors="errors_list" @close="clearErrors()"></errors>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<input placeholder="zoeken" 
						   type="text" 
						   class="form-control input-search mb-md-0 mb-2" 
						   v-model="material_search">
				</div>
				<div class="col-md-10">
					<h4>Totale waarde voorraad: €{{ stockValue }}</h4>
				</div>
			</div>
		</div>
		
		<vue-table :columns="columns" :rows="materialsSorted" :sort="sortData" @sort="sort($event)">
			<template v-slot:cell-number="slot">
				<div class="text-nowrap">
					<strong>Artikelnummer:</strong> <span class="text-muted">{{ slot.row.number }}</span> <br>
					<strong>Typenummer:</strong> <span class="text-muted">{{ slot.row.type_number || 'Onbekend' }}</span> <br>
					<strong>EAN-nummer:</strong> <span class="text-muted">{{ slot.row.ean_number || 'Onbekend' }}</span> 
				</div>
			</template>
			
			<template v-slot:cell-name="slot">
				<ul class="list-unstyled mb-0">
					<li> 
						<strong>Naam rapport:</strong> 
						<span class="text-muted">{{ slot.row.name }} </span>
					</li>
					<li> 
						<strong>Naam intern:</strong> 
						<span class="text-muted">{{ slot.row.description }} </span>
					</li>
				</ul>
			</template>
			
			<template v-slot:cell-price="slot">
				<div class="text-nowrap">
					<strong>Inkoop:</strong> <span class="text-muted">&euro;{{ parsePrice(slot.row.buyPrice) }}</span> <br>
					<strong>Verkoop:</strong> <span class="text-muted">&euro;{{ parsePrice(slot.row.price) }}</span>
				</div>
			</template>
			
			<template v-slot:cell-value="slot">
				&euro;{{ parsePrice(slot.row.value) }}
			</template>
			
			<template v-slot:cell-stock="slot">
				<div class="text-nowrap">
					<strong>Huidig:</strong> <span class="text-muted">{{ slot.row.stock }} {{ slot.row.unit }}</span> <br>
					<strong>Minimaal:</strong> <span class="text-muted">{{ slot.row.minimum_stock }} {{ slot.row.unit }}</span>
				</div>
			</template>
			
			<template v-slot:cell-updated_at="slot">
				{{ moment(slot.row.updated_at).format('MM-DD-YYYY') }}
			</template>
			
			<template v-slot:cell-actions="slot">
				<div class="d-flex">
					<button class="btn btn-default btn-sm mr-1" @click="editStock(slot.row.id)" v-if="canEdit">
						<i class="fas fa-toolbox"/> <span class="d-block d-md-none">Voorraad</span>
					</button>

					<button class="btn btn-primary btn-sm mr-1" v-if="canEdit"
							@click="$refs.matForm.load(slot.row.id, $data._.findKey(materialsSorted, {id: slot.row.id}))">
						<i class="fas fa-edit"/> <span class="d-block d-md-none">Bewerken</span>
					</button>

					<a :href="`/materialen/inzien/${slot.row.id}`" class="btn btn-default btn-sm">
						<i class="fas fa-external-link-alt"/> <span class="d-block d-md-none">Bekijken</span>
					</a>
				</div>
			</template>
		</vue-table>

		<material-form @save="updatedMat($event)" 
					   ref="matForm">
		</material-form>

		<stock-modal v-if="stock"
					 @close="stock = null"
					 @saved="handleSavedStock($event)"
					 :material="stock">
		</stock-modal>
	</div>
</template>

<script>
	import {searchMixin} from '../../mixins/searchMixin';
	import moment from "moment";

	export default {
		mixins: [searchMixin],
		
		props: {
			canEdit: Boolean,
		},
		
		mounted() {
			axios.get('/getMaterials').then(response => {
				this.materials = response.data
			}).catch(error => {
				this.catch(error);
			});
			
			axios.get('/getStockValue').then(response => {
				this.stockValue = response.data
			}).catch(error => {
				this.catch(error);
			});
		},
		
		data() {
			return {
				materials: {},
				material_search: null,
				stock: null,
				mutation: 0,
				stockValue: null,
				
				sortData: {
					key: 'name',
					direction: 'asc',
				},
				
				columns: [
					{key: 'number', label: 'Artikelnummer'},
					{key: 'name', label: 'Naam'},
					{key: 'price', label: 'Prijs'},
					{key: 'stock', label: 'Voorraad'},
					{key: 'value', label: 'Waarde'},
					{key: 'updated_at', label: 'Bijgewerkt'},
					{key: 'actions', label: ''},
				],
				
				moment,
				_: _,
			}
		},
		
		methods: {
			sort(key) {
				if(this.sortData.key === key) {
					this.sortData.direction = this.sortData.direction === 'asc' ? 'desc' : 'asc';
				} else {
					this.sortData.direction = 'asc';
					this.sortData.key = key;
				}
			},
			
			updatedMat(event) {
				this.materials[event.key] = event.data;
				this.$emit('updated', event.message);
				this.refreshSort();
			},
			
			editStock(id) {
				let key = _.findKey(this.materialsSorted, {id});
				
				this.stock = this.materialsSorted[key];
				this.stock.key = key;
			},
			
			addToMutation(amount) {
				this.mutation = parseInt(this.mutation) + parseInt(amount);
			},
			
			saveStock() {
				axios.post('/updateStock', {
					material: this.stock,
					mutation: this.mutation
				}).then(response => {
					this.$emit('updated', response.data.message);
					response.data.material.parsedPrice = this.parsePrice(response.data.material.price);
					response.data.material.parsedBuyPrice = this.parsePrice(response.data.material.buyPrice);
					this.materials[this.stock.key] = response.data.material;
					this.refreshSort();
					this.stock = null;
					this.mutation = 0;
				}).catch(error => {
					this.catch(error);
				});
			},
			
			refreshSort() {
				this.materials = _.orderBy(this.materials, [this.sortKey], [this.sortDirection]);
			},
			
			parsePrice(input) {
				return parseFloat(input).toFixed(2).split('.').join(',');
			},
			
			handleSavedStock(response) {
				this.$emit('updated', response.data.message);
				response.data.material.parsedPrice = this.parsePrice(response.data.material.price);
				response.data.material.parsedBuyPrice = this.parsePrice(response.data.material.buyPrice);
				this.materials[this.stock.key] = response.data.material;
				this.refreshSort();
				this.stock = null;				
			},
			
			order() {
				return _.orderBy(this.materials, [this.sortData.key], [this.sortData.direction]);
			}
		},
		
		computed: {
			materialsSorted() {
				return this.search(
					this.order(), 
					this.material_search, 
					['name', 'description', 'number']
				)
			}
		},
		
		components: {
        	materialForm: require('../forms/material-form.vue').default,
        	modal: require('../modal.vue').default,
        	sortArrow: require('../sort-arrow.vue').default,
        	stockModal: require('../materials/stock-modal.vue').default,
			vueTable: require('../parts/vue-table').default,
		}
	}
</script>
