<style scoped lang="sass">
	.th-icon
		width: 15px

	.table-button
		color: white
</style>

<template>
	<div>
		<div class="align-with-table">
			<h3>Notities</h3>

			<errors :errors="errors_list" @close="clearErrors()"></errors>
		</div>
			
		<table class="table data-table">
			<thead>
				<th>Datum</th>
				<th>Notitie</th>
				<th class="th-icon"></th>
				<th class="th-icon">
					<button @click="form = {project_id: project_id}" class="edit-button table-button">
						<i class="fa fa-plus"></i>
					</button>
				</th>
			</thead>
			<tbody>
				<tr v-if="notes" v-for="note in notes">
					<td>{{ note.date }}</td>
					<td>{{ note.note }}</td>
					<td>
						<button @click="form = note" class="edit-button">
							<i class="fa fa-pencil-alt"></i>
						</button>
					</td>
					<td>
						<button @click="confirmDelete = note" class="edit-button">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
				<tr v-if="!notes || !notes.length">
					<td colspan="4">
						<em class="text-muted">Geen notities gevonden</em>
					</td>
				</tr>
			</tbody>
		</table>

		<modal @close="confirmDelete = null" v-if="confirmDelete">
			<h3>Notitie verwijderen?</h3>
			<div class="self-clear">
				<div class="pull-right">
					<button @click="confirmDelete = null" class="btn btn-danger">
						Annuleren
					</button>
					<button @click="destroy(confirmDelete.id)" class="btn btn-primary">
						Doorgaan
					</button>
				</div>
			</div>
		</modal> 

		<notes-form v-if="form"
					:data="form"
					@close="form = null"
					@saved="handleSaved($event)">				
		</notes-form>
	</div>
</template>

<script>
	export default {
		props: ['project_id'],
		mounted() {
			this.loadData(this.project_id);
		},
		data() {
			return {
				form: null,
				notes: [],
				confirmDelete: null,
			}
		},
		methods: {
			loadData(project_id) {
				axios.get('/getNotes/'+project_id).then(response => {
					this.notes = response.data;
				}).catch(error => {
					this.catch(error);
				});
			},
			handleSaved(event) {
				this.loadData(this.project_id);
				this.form = null;
				this.$emit('message', event);
			},
			destroy(id) {
				axios.delete('/notes/'+id).then(response => {
					this.loadData(this.project_id);
					this.confirmDelete = null;
					this.$emit('message', event);
				});
			}
		},
		components: {
			notesForm: require('../forms/notes-form.vue').default
		}
	}
</script>
