<style lang="sass" scoped>
	th 
		-webkit-user-select: none     
		-moz-user-select: none	
		-ms-user-select: none
		user-select: none

	th:hover
		cursor: pointer
		background: darken(white, 5%)	
</style>

<template>
	<div v-if="projects && projects.length > 0">
		<div class="align-with-table">
			<h4> {{ status == 'open' ? 'Lopende projecten' : 'Afgeronde projecten' }} </h4>

			<errors :errors="errors_list" @close="clearErrors()"></errors>
		</div>	
			
		<table class="table data-table">
			<thead>
				<th @click="sort('name')">Naam</th>
				<th @click="sort('client_name')">Klant</th>
			</thead>
			<tbody>
				<tr v-for="project in projects">
					<td> <a :href="'/projecten/inzien/'+project.id">{{ project.name }}</a> </td>
					<td> 
						<div v-if="project.client">
							<a :href="'/klanten/inzien/'+project.client.id">{{ project.client.name }}</a> 
						</div>
						<div v-else>
							Verwijderde klant
						</div>
					</td>
				</tr>
			</tbody>
		</table>	
	</div>	
</template>

<script>
	import {searchMixin} from '../../mixins/searchMixin';

	export default {
		mixins: [searchMixin],
		props: ['status', 'search_input'],
		mounted() {
			this.load();
		},
		data() {
			return {
				projectsList: null,
				sortKey: 'name',
				sortDirection: 'asc',
			}
		},
		methods: {
			load() {
				axios.get('/getProjects?search='+this.search_input).then(response => {
					let projects = response.data[this.status];
					projects.map((e, key) => {
						let name = e.client ? e.client.name : 'Verwijderde klant'
						projects[key].client_name = name;
					});
					this.projectsList = projects;
				}).catch(error => {
					this.catch(error);
				});
			},
			sort(key) {
				if(this.sortKey == key) {
					this.sortDirection = this.sortDirection == 'asc' ? 'desc' : 'asc';
				} else {
					this.sortKey = key;
					this.sortDirection = 'asc';
				}
			},
			orderAndSearch() {
				let projects = this.projectsList;

				projects = this.search(this.projectsList, this.search_input, ['name', 'client_name']);
				projects = _.orderBy(projects, [this.sortKey], [this.sortDirection]);

				return projects;
			}
		},
		computed: {
			projects() {
				return this.orderAndSearch();
			}
		}
	}
</script>
