<style lang="sass" scoped>
	.np
		padding: 0 !important
</style>

<template>
	<div>
		<div class="align-with-table col-md-3 np">
			<input type="text" v-model="search" class="form-control" placeholder="Zoeken">
		</div>

		<projects :search_input="search" status="open"></projects>	
		<projects :search_input="search" status="done"></projects>	
	</div>
</template>

<script>
	import {searchMixin} from "../../mixins/searchMixin";

	export default {
		mixins: [searchMixin],
		
		data() {
			return {
				search: null
			}
		},
		
		components: {
			projects: require('./projects.vue').default
		}
	}
</script>
