<template>
	<div>
		<div class="align-with-table">
			<h4 v-if="projectMaterials && projectMaterials.length > 0"> 
				{{ status == 'open' ? 'Niet gefactureerde materialen' : 'Gefactureerde materialen' }} 
			</h4>
			
			<i class="text-muted" v-if="(projectMaterials || []).length === 0">
				<span v-if="status === 'open'">Geen niet-gefactureerde materialen.</span>
				<span v-else>Geen gefactureerde materialen.</span>
			</i>

			<errors :errors="errors_list" @close="clearErrors()"></errors>

		</div>

		<table v-if="projectMaterials && projectMaterials.length > 0" class="table data-table">
			<thead>
				<th>Datum/nr.</th>
				<th>Materiaal</th>
				<th>Laatst bijgewerkt</th>
				<th v-if="user.user_type == 1">Tarief/prijs</th>
				<th style="padding: 0; width: 15px"></th>
				<th style="padding: 0; width: 15px"></th>
				<th v-if="status == 'open'" style="padding: 0; width: 15px"></th>
			</thead>
			<tbody>
				<tr v-for="material in projectMaterialsFiltered">
					<td> 
						{{ material.date }} <br>
						<div v-if="material.alt">
							Eenmalig
						</div>
						<div v-else>
							{{ material.number }} 
						</div>						
					</td>
					<td>
						{{ material.amount }} {{ material.unit }} <br>
						<div v-if="material.alt">
							{{ material.name }}
							<span v-if="material.description">/ {{ material.description }}</span>
						</div>
						<div v-else>
							<a :href="'/materialen/inzien/'+material.id">{{ material.name }} </a> 
							<span v-if="material.description">/ {{ material.description }}</span>
						</div>
					</td>	
					<td>
						{{ material.updated_at }}
					</td>
					<td v-if="user.user_type == 1">
						<span v-if="material.rate">€{{ material.rate }}</span> <br>
						<span v-if="material.price">€{{ material.price }}</span>
					</td>
					<td>
						<button v-if="!material.alt" @click="changeAmount(material, 0)" class="edit-button"> 
							<i class="fa fa-plus"></i> 
						</button>
					</td>	
					<td v-if="material.status == 0">
						<button v-if="!material.alt" @click="changeAmount(material, 1)" class="edit-button"> 
							<i class="fa fa-minus"></i> 
						</button>
					</td>									
					<td>
						<button @click="openModal(material)" class="edit-button"> 
							<i class="fa fa-pencil-alt"></i> 
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>	
</template>

<script>
	import { datepickerMixin } from '../../mixins/datepickerMixin';
	import { searchMixin } from '../../mixins/searchMixin';

	export default {
		mixins: [datepickerMixin, searchMixin],
		props: ['status', 'id', 'user', 'searchString'],
		
		mounted() {
			this.refresh();		
		},
		
		data() {
			return {
				showModal: false,
				projectMaterials: null,
				confirmDelete: false,
				form: null,
			}
		},
		
		methods: {
			refresh() {
	            axios.get('/projectMaterials?id='+this.id).then(response => {
	            	this.projectMaterials = response.data[this.status];
	            }).catch(error => {
	            	console.log('test');
	            	this.catch(error);
	            });			
			},
			
			save() {
				let date = this.formatDate(this.form.date);
				
				axios.post('/editLink', {
					id: this.form.id,
					amount: this.form.amount,
					date: date
				}).then(response => {
					this.showModal = false;
					this.form = null;
					this.refresh();
					this.$emit('message', response.data);
				}).catch(error => {
					this.catch(error);
				});
			},
			
			changeAmount(material, type) {
				let amount = type == 0 ? material.amount + 1 : material.amount - 1;
				this.form = {
					id: material.link_id,
					amount: amount,
				}
				axios.post('/editLink', {
					id: this.form.id,
					amount: this.form.amount,
					// mutation: type == 0 ? -1 : 1
				}).then(response => {
					this.form = null;
					// this.refresh();
					this.$emit('refresh');
				}).catch(error => {
					this.catch(error);
				});				
			},
	        unlinkMaterial() {
	            axios.get('/unlinkMaterial/'+this.form.id).then(response => {
	            	this.showModal = false;
	                this.$emit('message', response.data);
	                this.refresh();
	            }).catch(error => {
	            	this.catch(error);
	            });         
	        },
			
	        openModal(material) {
	        	material = JSON.stringify(material);
	        	material = JSON.parse(material);
	        	material.date = new Date(material.date.split('-').reverse().join('-'));
	        	material.id = material.link_id;
	        	
	        	this.$emit('form', material);
	        },    
		},

		computed: {
			projectMaterialsFiltered() {
				return this.search(this.projectMaterials, this.searchString, ['name', 'description']);
			}
		}
	}
</script>
