<style lang="sass">
	.input
		width: 500px
		@media(max-width: 768px)
			width: 200px
</style>

<template>
	<div v-if="users && users.length > 0">
		<errors :errors="errors_list" @close="clearErrors()"></errors>

		<table class="table data-table">
			<thead>
				<th colspan="2">Tarieven {{ status == 'active' ? 'actieve gebruikers' : 'inactieve gebruikers' }} </th>
				<th style="padding: 0; width: 15px"></th>
				<th style="padding: 0; width: 15px"></th>
			</thead>
			<tr v-for="(user, key) in users">
				<td>{{ user.name }}</td>
				<td class="input">
					<div v-if="edit != user.id"> €{{ user.rate }} </div>
					<div v-else>
						<input type="text" v-model="user.rate">
					</div>
				</td>
				<td>
					<button @click="confirmDelete = user.rate_id" class="edit-button">
						<i class="fa fa-trash"></i>
					</button>
				</td>
				<td> 
					<button v-if="edit != user.id" @click="edit = user.id" class="edit-button"> 
						<i class="fa fa-pencil-alt"></i> 
					</button> 
					<button @click="save(key)" v-else class="edit-button">
						<i class="fa fa-save"></i>
					</button>
				</td>
			</tr>
		</table>

		<modal v-if="confirmDelete" @close="confirmDelete = null">
			<h3>Weet u het zeker?</h3>

			<div class="self-clear">
				<div class="pull-right">
					<button @click="confirmDelete = null" class="btn btn-danger"> Annuleren </button>
					<button @click="deleteRate(confirmDelete)" class="btn btn-primary"> Doorgaan </button>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	export default {
		props: ['client', 'project', 'status'],
		mounted() {
			this.load();
		},
		data() {
			return {
				users: null,
				edit: 0,
				confirmDelete: null
			}
		},
		methods: {
			load() {
				axios.get('/getUsers', {
					params: {
						client: this.client,
						project: this.project ? this.project : 0
					}
				}).then(response => {
					this.users = response.data[this.status];
				}).catch(error => {
					this.catch(error);
				});
			},
			save(key) {
				let user = this.users[key];

				let data = {
					id: user.rate_id,
					client_id: this.client,
					user_id: user.id,
					rate: user.rate					
				}

				if(this.project) {
					data['project_id'] = this.project;
				}

				axios.post('/saveRate', data).then(response => {
					this.edit = 0;
					let status = this.status;
				}).catch(error => {
					this.catch(error);
				});
			},	
			deleteRate(id) {
				axios.delete('/deleteRate/'+id).then(response => {
					this.confirmDelete = null;
					this.load();
				}).catch(error => {
					this.catch(error);
				});
			}		
		}
	}
</script>
