<template>
	<div v-if="user">
		<h2 class="align-with-table">Timers</h2>
		<timers @saved="handleSaved($event)" 
				:current_user="user" 
				:users="users.active"
				v-if="user.user_type == 1">			
		</timers>	

		<timers @saved="handleSaved($event)" 
				:current_user="user" 
				:users="[user]"
				v-else>			
		</timers>			
			
		<div v-if="notes.length > 0">
			<div class="align-with-table">	
				<h2>Notities</h2>
				
				<errors :errors="errors_list" @close="clearErrors()"></errors>
			</div>
			<table class="table data-table">
				<thead>
					<th style="width: 20px"></th>
					<th v-if="user && user.user_type == 1">Gebruiker</th>
					<th>Datum</th>
					<th>Tijd</th>
					<th>Duur</th>
					<th>Notities</th>
					<th></th>
				</thead>
				<tbody>
					<tr v-for="note in notes">
						<td> 
							<button @click="form = note" class="edit-button"> 
								<i class="fa fa-pencil-alt"></i> 
							</button> 
						</td>						
						<td v-if="user && user.user_type == 1 && note.user">{{ note.user.name }}</td>
						<td>{{ displayDate(note.date) }}</td>
						<td>{{ note.time }}</td>
						<td>{{ note.duration }}</td>
						<td>{{ note.text }}</td>
						<td>
							<button @click="confirmDelete = note.id" class="edit-button">
								<i class="fa fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<timer-note-form v-if="form" 
						 @close="form = null" 
						 :data="form"
						 @saved="handleSaved($event)">
		</timer-note-form>	

		<modal v-if="confirmDelete" 
			   @close="confirmDelete = null">
			<h2>Notitie verwijderen?</h2>
			<div class="self-clear">
				<div class="pull-right">
					<button class="btn btn-primary" @click="confirmDelete = null">
						Annuleren
					</button>
					<button class="btn btn-primary" @click="destroy('timernotes', confirmDelete)">
						Doorgaan
					</button>
				</div>
			</div>
		</modal>
	</div>
</template>

<script>
	export default {
		props: ['user'],
		mounted() {
			this.loadData();
		},
		data() {
			return {
				notes: [],
				users: [],
				form: null,
				confirmDelete: null,
			}
		},
		methods: {
			loadData() {
				axios.get('getTimerNotes').then(response => {
					this.notes = response.data;
				}).catch(error => {
					this.catch(error);
				});

				axios.get('getUsers').then(response => {
					this.users = response.data;
				}).catch(error => {
					this.catch(error);
				});
			},
			displayDate(date) {
				return moment(date).format('DD-MM-YYYY');
			},
			handleSaved(event) {
				this.confirmDelete = null;
				this.form = null;
				this.$emit('message', event)
				this.loadData();
			}
		},
		components: {
			timers: require('./timers.vue').default,
			timerNoteForm: require('../forms/timer-note-form.vue').default
		}
	}
</script>
