<template>
	<div v-if="current_user">
		<table class="table data-table">
			<thead>
				<th v-if="current_user.user_type == 1">Gebruiker</th>
				<th>Gestart</th>
				<th>Verstreken</th>
				<th>Omschrijving</th>
				<th colspan="2"></th>
			</thead>
			<tbody>
				<timer v-for="user in users" 
					   @stop="form = $event"
					   :user="user"
					   :current_user="current_user" 
					   :key="user.id">	   	
				</timer>
			</tbody>
		</table>

		<timer-note-form v-if="form" 
						 @close="form = null" 
						 :data="form"
						 @saved="form = null; $emit('saved', $event)">
		</timer-note-form>
	</div>
</template>

<script>
	export default {
		props: ['users', 'current_user'],
		data() { 
			return {
				form: null
			}
		},
		components: {	
			timer: require('../timer.vue').default,
			timerNoteForm: require('../forms/timer-note-form.vue').default
		}
	}
</script>