<template>
	<div v-if="users && users[status].length > 0">
		<div class="align-with-table">
			<h3>{{ status == 'active' ? 'Actieve gebruikers' : 'Inactieve gebruikers' }}</h3>	

			<errors :errors_list="errors" @close="clearErrors()"></errors>
		</div>

		<table class="table data-table">
			<thead>
				<th>Naam</th>
				<th>E-mail</th>
				<th>Tarief</th>
			</thead>
			<tr v-for="user in users[status]">
				<td> <a :href="'/gebruikers/inzien/'+user.id">{{ user.name }}</a> </td>
				<td>{{ user.email }}</td>
				<td>€{{ user.rate ? user.rate : '0.00' }}</td>
			</tr>
		</table>		
	</div>
</template>

<script>
    export default {
    	props: ['status'],
        mounted() {
            axios.get('/getUsers').then(response => {
            	this.users = response.data;
            }).catch(error => {
            	this.catch(error);
            });
        },
        data() {
        	return {
        		users: null
        	}
        }
    }	
</script>