<template>
    <div>
		<form class="tab" action="/klanten/opslaan" method="POST">
			<slot></slot>
			<div class="tab-title">
				<h3>Klant aanmaken</h3>
			</div>
			
			<div class="tab-content">
				<div class="form-item">
					<div class="form-icon">
						<i class="fa fa-user"></i>
					</div>
					<div class="form-input">
						<input type="text" class="form-control" name="name" placeholder="Naam*" v-model="clientName" required>
					</div>
				</div>

				<div class="col-md-12">
					<div v-if="clientName && clientName.length > 2 && clientsFiltered.length > 0"
						 class="alert alert-warning">
						<strong>Klanten met een soortgelijke naam:</strong>
						<ul>
							<li v-for="client in clientsFiltered">{{ client.name }}</li>
						</ul>
					</div>
				</div>

				<div class="form-item">
					<div class="form-icon">
						<i class="fa fa-map-marker"></i>
					</div>
					<div class="form-input form-input-1">
						<input type="text" class="form-control" name="postal_code" placeholder="Postcode">
					</div>
					<div class="form-input form-input-2">
						<input type="text" class="form-control" name="adress" placeholder="Adres">
					</div>
				</div>

				<div class="form-item">
					<div class="form-icon">
						<i class="fa fa-building"></i>
					</div>
					<div class="form-input">
						<input type="text" class="form-control" name="town" placeholder="Woonplaats">
					</div>
				</div>

				<div class="form-item">
					<div class="form-icon">
						<i class="fa fa-envelope"></i>
					</div>
					<div class="form-input">
						<input type="text" class="form-control" name="email" placeholder="E-mailadres">
					</div>
				</div>

				<div class="form-item">
					<div class="form-icon">
						<i class="fa fa-phone"></i>
					</div>
					<div class="form-input">
						<input type="text" class="form-control" name="phone" placeholder="Telefoonnummer">
					</div>
				</div>

				<div class="form-item">
					<div class="form-icon">
						<i class="fa fa-sticky-note"></i>
					</div>
					<div class="form-input">
						<input type="text" class="form-control" name="kvk" placeholder="KVK nummer">
					</div>
				</div>

				<div class="form-item no-margin">
					<div class="form-icon"></div>
					<div class="form-input form-input-1">
						<a href="/klanten" class="btn btn-default btn-block"> Annuleren <i class="fa fa-arrow-left"></i> </a>
					</div>

					<div class="form-input form-input-2">
						<button class="btn btn-primary btn-block"> Opslaan <i class="fa fa-save"></i> </button>
					</div>
				</div>
			</div>
		</form>
	</div>
</template>

<script>
	import {searchMixin} from "../../mixins/searchMixin";

	export default {
		mixins: [searchMixin],
		
		mounted() {
			this.loadData();
		},

		data() {
			return {
				clients: [],
				clientName: null,
			}
		},
		
		methods: {
			loadData() {
				axios.get('/getClients').then(response => this.clients = response.data);
			},

			searchFunction() {
				if(this.clients.length > 0) {
					return this.search(this.clients, this.clientName, ['name', 'email']);
				}
			}
		},

		computed: {
			clientsFiltered() {
				return this.search(this.clients, this.clientName, ['name', 'email']);
			}
		}
	}
</script>

<style scoped>

</style>
