<template>
	<div class="form-item">
		<div :class="{'va-top': type == 'textarea'}" class="form-icon">
			<i :class="['fa', icon]"></i>
		</div>
		<div class="form-input">
			<slot></slot>
		</div>				
	</div>	
</template>

<script>
	export default {
		props: ['icon', 'type'],
	}
</script>