<template>
	<modal @close="$emit('close')">
		<h3>{{ feedback.id ? 'Bewerken' : 'Nieuwe feedback' }}</h3>

		<errors :errors="errors_list" @close="clearErrors()"></errors>
		
		<empty-input icon="fa-file">
			<input v-model="feedback.text" type="text" class="form-control" placeholder="Tekst">
		</empty-input>

		<empty-input icon="fa-cloud">
			<select v-model="feedback.type" class="form-control">
				<option value="0">Opmerking</option>
				<option value="1">Bug</option>
			</select>
		</empty-input>

		<empty-input icon="fa-eye">
			<select v-model="feedback.estimate_type" class="form-control">
				<option value="0">Schatting</option>
				<option value="1">Vastgesteld</option>
			</select>
		</empty-input>

		<empty-input icon="fa-hourglass">
			<input type="text" v-model="feedback.estimate_hours" class="form-control" placeholder="Uren">
		</empty-input>

		<div class="self-clear">
			<div class="pull-right">
				<button class="btn btn-primary" @click="save()">Opslaan</button>
			</div>
		</div>
	</modal>
</template>

<script>
	export default {
		props: ['feedback_id'],
		mounted() {
			if(this.feedback_id) {
				console.log(this.feedback_id);
			}
		},
		data() {
			return {
				feedback: {type: 0, estimate_type: 0}
			}
		},
		methods: {
			save() {
				axios.post('/feedback', this.feedback).then(response => {
					this.$emit('message', response.data);
					this.$emit('close');
					this.$emit('refresh');
				}).catch(error => {
					this.catch(error);
				});
			}
		},
		components: {
			emptyInput: require('./empty-input.vue').default
		}
	}
</script>