<template>
	<div class="form-item">
		<div class="form-icon">
			<i :class="['fa', icon]"></i>
		</div>
		<div class="form-input">
			<input  :value="value" type="text" class="form-control" :name="name" :placeholder="text">
		</div>				
	</div>	
</template>

<script>
	export default {
		props: ['name', 'text', 'value', 'icon'],
	}
</script>