<style scoped lang="sass">
	.max-height
		max-height: 300px
		overflow-y: scroll
</style>

<template>
	<modal @close="$emit('close')">
		<form @submit.prevent="saveHours(user_id)">

			<h3>Uren invullen</h3>

			<errors :errors="errors_list" @close="clearErrors()"></errors>
			
			<div>
				<empty-input type="textarea" icon="fa-pencil-alt">
					<textarea-autosize 
						v-model="fields.description" 
						:min-height="30"
						:max-height="350"
					  	placeholder="Omschrijving" 
					  	class="form-control"
					/>
				</empty-input>
			</div>	
			
			<div v-if="page === 0 || user.user_type == 1">
				<empty-input icon="fa-search">
					<input placeholder="Zoeken" type="text" class="form-control" v-model="project_search">
				</empty-input>

				<empty-input icon="fa-tasks">
					<v-select :options="projects_filtered" 
							  :reduce="name => name.id"
							  v-model="fields.project_id"
							  placeholder="Geen projecten gevonden"
							  :clearable="false"
							  :searchable="false"
							  label="name">
						<template v-slot:option="option">
							{{ option.client ? option.client.name : 'Verwijderde klant' }} - {{ option.name }}
						</template>
					</v-select>					
				</empty-input>
			</div>

			<div>
				<div class="form-item">
					<div class="form-icon">
						<i class="fa fa-calendar"></i>
					</div>
					
					<div class="form-input form-input-1">
						<datepicker :format="dateFormat"
									v-model="fields.date" 
									input-class="form-control datepicker"
									:language="nl"></datepicker>
					</div>
					
					<div v-if="user.user_type == 1" class="form-input form-input-2">
						<button type="button" v-on:click="fields.date = null"  
								class="btn btn-default btn-block btn-sm">
							Geen datum
						</button>
					</div>			
				</div>
			</div>

			<div>
				<div class="form-item">
					<div class="form-icon">
						<i class="fa fa-hourglass-half"></i>
					</div>
					<div class="form-input form-input-1">
						<input type="text" class="form-control" placeholder="Uren" v-model="fields.hours">
					</div>
					<div class="form-input form-input-2">
						<input type="text" class="form-control" placeholder="Minuten" v-model="fields.minutes">
					</div>				
				</div>	
			</div>		

			<div v-if="user.user_type == 1" class="form-item">
				<div class="form-icon">
					<i class="fa fa-user"></i>
				</div>
				<div class="form-input">
					<select required v-model="fields.user_id" class="form-control">
						<option v-for="user in users.active" :value="user.id">{{ user.name }}</option>
						<option v-for="user in users.disabled" :value="user.id">{{ user.name }}</option>
					</select>
				</div>				
			</div>

			<div v-if="user.user_type == 1" class="form-item">
				<div class="form-icon">
					<i class="fa fa-credit-card"></i>
				</div>
				<div class="form-input form-input-1">
					<select @change="$forceUpdate()" class="form-control" v-model="fields.overtime_rate_id">
						<option :value="null">Geen meerwerk</option>
						<option v-for="rate in overtimeRates" :value="rate.id">{{ rate.name }}</option>
					</select>
				</div>
				
				<div class="form-input form-input-2">
					<select class="form-control" 
							v-model="fields.overtime_percentage" 
							:disabled="fields.overtime_rate_id < 1">
						<option value="25">25%</option>
						<option value="50">50%</option>
						<option value="100">100%</option>
					</select>
				</div>
			</div>
			
			<div class="form-item no-margin">
				<div class="form-icon">
					<input type="checkbox" v-model="fields.openMaterialForm" id="openMaterialForm">
				</div>
				<div class="form-input">
					<label class="unselectable" for="openMaterialForm">Materiaal invoeren na opslaan</label>
				</div>
			</div>

			<div class="form-item no-margin" v-if="user.user_type === 1">
				<div class="form-icon">
					<input type="checkbox" v-model="fields.show_on_report" id="showOnReport">
				</div>
				<div class="form-input">
					<label class="unselectable" for="showOnReport">Weergeven op rapportage</label>
				</div>
			</div>

			<div class="form-item no-margin" v-if="fields.id">
				<div class="form-icon">
					<input type="checkbox" v-model="fields.status" id="invoiced">
				</div>
				<div class="form-input">
					<label class="unselectable" for="invoiced">Gefactureerd</label>
				</div>
			</div>

			<div class="form-item no-margin">
				<div class="form-icon"></div>
				<div class="form-input form-input-1">
					<button type="button" class="btn btn-default btn-block" 
							@click="$emit('close')"> 
						Annuleren <i class="fa fa-arrow-left"></i> 
					</button>
				</div>

				<div class="form-input form-input-2">
					<button :disabled="!fields.minutes && !fields.hours || !fields.project_id" 
							class="btn btn-primary btn-block"> 
						Opslaan <i class="fa fa-save"></i> 
					</button>
				</div>
			</div>	
		</form>	
	</modal>
</template>

<script>
	import {datepickerMixin} from '../../mixins/datepickerMixin';
	import {permissionsMixin} from '../../mixins/permissionsMixin';
	import {searchMixin} from '../../mixins/searchMixin';
	import vSelect from "vue-select";
	import moment from "moment";

	export default {
		props: ['user_id', 'data'],
		mixins: [datepickerMixin, permissionsMixin, searchMixin],
		components: {"v-select": vSelect},
		
		mounted() {
			let data = JSON.stringify(this.data);
			this.fields = JSON.parse(data);

			axios.get('/getUser', {params: {id: this.user_id}}).then(response => {
				this.user = response.data;
				
				if(this.user.user_type === 0) {
					let date = moment(this.fields.date);
					let mindate = moment().subtract(1, 'days');

					if (date < mindate) {
						date = moment(mindate).add(1, 'day').format('YYYY-MM-DD');
						this.fields.date = new Date(date);
					}
				}
				
				if(this.user.user_type === 1) {
					axios.get('/getUsers').then(response => {
						this.users = response.data;

						if(!this.fields.user_id) {
							this.fields.user_id = this.user.id;
						}				
					});

					axios.get('/getOvertimeRates').then(response => {
						this.overtimeRates = response.data;
						if(!this.fields.overtime_rate_id) {
							this.fields.overtime_rate_id = null;
							this.fields.overtime_percentage = 25;
						}
					}).catch(error => {
						this.catch(error);
					});
				}

			});

			axios.get('/lastUsedProject').then(project => {
				if(!this.fields.id) {
					if(project.data) {
						this.fields.project_id = project.data;
					}
				}

				axios.get('/getProjects').then(response => {
					let projects = response.data.open;

					projects.map(project => {
						project.client_name = project.client ? project.client.name : null;
					});

					this.projects = projects;


					if(!this.fields.project_id) {
						this.fields.project_id = this.projects.open[0].id;
					}
				}).catch(error => {
					this.catch(error);
				});				
			});

			if(!this.fields.date) {
				this.fields.date = new Date();
			} else{
				this.fields.date = new Date(this.fields.date);
			}

			if(this.fields.minutes) {
				let hours = parseInt(this.fields.minutes / 60);
				let minutes = parseInt(this.fields.minutes % 60);

				this.fields.hours = hours > 0 ? hours : null;
				this.fields.minutes = minutes > 0 ? minutes : null;
			}
		},
		
		data() {
			return {
				fields: {},
				page: 0,
				user: {},
				projects: [],
				users: [],
				minDate: null,
				project_search: null,
				deadline: false,
				overtimeRates: [],
				null: null,
			}
		},
		
		methods: {
	        saveHours() {
	            let data = this.fields;

	            data.minutes = this.minutes(data.hours, data.minutes);
	            
	            if(data.date) {
	            	data.date = moment(data.date).format('YYYY-MM-DD');
	            }

	            if(!data.overtime_rate_id) {
	            	data.overtime_percentage = null;
	            }

	            axios.post('/uren/opslaan', data).then(response => {
					this.$emit('saved', response.data);
					this.$emit('close');

					if(this.openMaterialForm)
					{
						let project_id = this.fields.project_id;

						window.location.href = `/projecten/inzien/${project_id}`;
					}
	            }).catch(error => {
	            	this.$emit('error', {
	            		status: 0,
	            		message: 'Er is een fout opgetreden'
	            	});
	            });
	        },
			
	        minutes(hours, min) {
	        	hours = hours ? parseInt(hours) * 60 : 0;
	        	min = min ? parseInt(min) : 0;

	        	return hours + min;
	        },
		},
		
		watch: {
	        project_search(val) {
	        	if(this.projects_filtered[0]) {
	        		this.fields.project_id = this.projects_filtered[0].id;
	        	} else {
	        		this.fields.project_id = null;
	        	}
	        },			
		},
		
		computed: {
			maxDate() {
				return this.user.user_type == 0 ? moment().toDate() : null;
			},
			
			projects_filtered() {
				return this.search(this.projects, this.project_search, ['name', 'client_name'])
			},
			
			openMaterialForm() {
				return this.fields?.openMaterialForm;
			},
		}
	}
</script>
