<style lang="sass">
	#wrapper
		display: inline-block
</style>

<template>
	<div id="wrapper">
		<button @click="modal = true; selectOptionsHours(); selectOptionsMaterials()" 
				class="btn btn-default" :disabled="loading"> 
			Factureren
		</button>
		
		<modal @close="modal = false" v-if="modal">
			<h2>
				Factureren

				<span v-if="step === 1">stap 1 (Uren)</span>
				<span v-if="step === 2">stap 2 (Materialen)</span>
			</h2>
			
			<div class="btn-group">
				<button class="btn" :class="!undoInvoice ? 'btn-primary' : 'btn-default'" @click="undoInvoice = false">
					Factureren
				</button>

				<button class="btn" :class="undoInvoice ? 'btn-primary' : 'btn-default'" @click="undoInvoice = true">
					Factureren ongedaan maken
				</button>
			</div>
			
			<div class="table-container" v-if="step === 1">
				<vue-table  :rows="hours" :columns="columnsHours">
					<template v-slot:column-checkbox>
						<input type="checkbox" v-model="selectAllHours">
					</template>

					<template v-slot:cell-checkbox="slot">
						<input type="checkbox" v-model="hoursOnInvoice" :value="slot.row.id">
					</template>

					<template v-slot:cell-user="slot">
						<span v-if="slot.row.user">{{ slot.row.user.name }}</span>
						<em class="text-muted" v-else>Onbekend</em>
					</template>
				</vue-table>
			</div>
			
			<div class="table-container" v-if="step === 2">
				<vue-table :rows="materials" :columns="columnsMaterials">
					<template v-slot:column-checkbox>
						<input type="checkbox" v-model="selectAllMaterials">
					</template>

					<template v-slot:cell-checkbox="{row}">
						<input type="checkbox" v-model="materialsOnInvoice" :value="row.link_id">
					</template>
					
					<template v-slot:cell-description="{row}">
						{{ row.description }} <br>
						{{ row.amount }} {{ row.unit }}
					</template>
					
					<template v-slot:cell-price="{row}">
						<span class="text-nowrap">&euro; {{ row.price }}</span>
					</template>
				</vue-table>
			</div>

			<div class="clearfix">
				<div class="float-right">
					<button type="button" v-on:click="modal = false"
							class="btn btn-default">
						<i class="fa fa-times"/> Annuleren 
					</button>

					<button class="btn btn-primary" v-if="step === 2" @click="step = 1">
						<i class="fas fa-arrow-left mr-1"/> Vorige
					</button>

					<button class="btn btn-primary" v-if="step === 1" @click="step = 2">
						Volgende <i class="fas fa-arrow-right ml-1"/>
					</button>
					
					<button v-if="step === 2" @click="saveInvoice()" class="btn btn-primary" :disabled="submitting">
						<i class="fa fa-arrow-right" v-if="!submitting"/>
						<i class="fas fa-sync fa-spin" v-else/>
						<span v-if="!undoInvoice">Factureren</span>
						<span v-else>Factureren ongedaan maken</span>
					</button>
				</div>
			</div>	
		</modal>
	</div>
</template>

<script>
	import { datepickerMixin } from '../../mixins/datepickerMixin';

	export default {
		mixins: [datepickerMixin],
		
		props: {
			projectId: {},
		},
		
		mounted() {
			this.loadData();
		},

		data() {
			return {
				date: null,
				modal: false,
				hoursOnInvoice: [],
				materialsOnInvoice: [],
				loading: false,
				allHours: [],
				allMaterials: [],
				
				columnsHours: [
					{key: 'checkbox', label: '', width: 10},
					{key: 'output', label: 'Uren'},
					{key: 'date', label: 'Datum'},
					{key: 'user', label: 'Gebruiker'},
					{key: 'description', label: 'Omschrijving'},
				],
				
				columnsMaterials: [
					{key: 'checkbox', label: '', width: 10},
					{key: 'date', label: 'Datum'},
					{key: 'description', label: 'Materiaal'},
					{key: 'price', label: 'Prijs'},
				],
				
				undoInvoice: false,
				selectAllHours: true,
				selectAllMaterials: true,
				submitting: false,
				step: 1,
			}
		}, 
		
		methods: {
			reset() {
				this.step = 1;
				this.selectAllHours = true; 
				this.selectAllMaterials = true;
				this.hoursOnInvoice = [];
				this.materialsOnInvoice = [];
			},
			
			loadData() {
				this.loading = true;
				
				this.loadHours().finally(() => {
					this.loadMaterials().finally(() => {
						this.loading = false;
					});
				})		
			},
			
			loadHours() {
				return axios.get(`/getHourList?id=${this.projectId}`)
					.then(({data}) => {
						this.allHours = {
							open: data[0],
							closed: data[1],
						};
					});
			},
			
			loadMaterials() {
				return axios.get(`/projectMaterials?id=${this.projectId}`)
					.then(({data}) => {
						this.allMaterials = data;
					});
			},

			saveInvoice() {
				this.submitting = true;
				
				axios.post(`/saveInvoice`, {
					hourIds: this.hoursOnInvoice,
					materialIds: this.materialsOnInvoice,
					undoInvoice: this.undoInvoice,
				})
					.then(() => {
						toastr.success('Factuur opgeslagen.');
						
						this.$emit('saved');
					})
					.catch(() => {
						toastr.error('Er is iets fout gegaan.');	
					})
					.finally(() => {
						this.modal = false;
						this.submitting = false;	
					});
			},
			
			selectOptionsHours() {
				if (!this.selectAllHours) {
					this.hoursOnInvoice = [];
				} else {
					this.hoursOnInvoice = _.map(this.hours, hour => hour.id);
				}
			},

			selectOptionsMaterials() {
				if (!this.selectAllMaterials) {
					this.materialsOnInvoice = [];
				} else {
					this.materialsOnInvoice = _.map(this.materials, material => material.link_id);
				}
			}
		},
		
		watch: {
			selectAllHours() {
				this.selectOptionsHours();
			},
			
			selectAllMaterials() {
				this.selectOptionsMaterials();
			},
			
			undoInvoice() {
				this.reset();

				this.selectOptionsHours();
				this.selectOptionsMaterials();
			}
		},
		
		computed: {
			hours() {
				return (this.undoInvoice 
					? this.allHours?.closed
					: this.allHours?.open) ?? [];
			},
			
			materials() {
				return (this.undoInvoice
					? this.allMaterials?.closed
					: this.allMaterials?.open) ?? [];
			},
			
			dateParsed() {
				if(this.date) {
					return this.formatDate(this.date).split('-').reverse().join('-');
				} else {
					return null;
				}
			}
		},
	}
</script>

<style scoped>
	.table-container {
		display: block;
		max-height: 500px;
		overflow-y: scroll;
	}
</style>
