<style lang="sass" scoped>
	label
		margin-bottom: 0px
		color: #919090
</style>

<template>
	<modal @close="showForm = false; data = null;" v-if="showForm && data">
		<h1>Bewerk {{ data.name }}</h1>

		<errors :errors="errors_list" @close="clearErrors()"></errors>

		<empty-input icon="fa-user">
			<label v-if="showHelp">Naam</label>
			<input type="text" class="form-control" placeholder="Naam" v-model="data.name">
		</empty-input>

		<empty-input icon="fa-pencil-alt">
			<label v-if="showHelp">Omschrijving</label>
			<input type="text" class="form-control" placeholder="Omschrijving" v-model="data.description">
		</empty-input>

		<empty-input icon="fa-pencil-alt">
			<label v-if="showHelp">Eenheid</label>
			<input type="text" class="form-control" placeholder="Eenheid" v-model="data.unit">
		</empty-input>

		<empty-input icon="fa-list-ol">
			<label v-if="showHelp">Artikelnummer</label>
			<input type="text" class="form-control" placeholder="Artikelnummer" v-model="data.number">
		</empty-input>

		<empty-input icon="fa-list-ol">
			<label v-if="showHelp">Typenummer</label>
			<input type="text" class="form-control" placeholder="Typenummer" v-model="data.type_number">
		</empty-input>

		<empty-input icon="fa-list-ol">
			<label v-if="showHelp">EAN-nummer</label>
			<input type="text" class="form-control" placeholder="EAN-nummer" v-model="data.ean_number">
		</empty-input>

		<empty-input icon="fa-credit-card">
			<label v-if="showHelp">Inkoop</label>
			<input type="text" class="form-control" placeholder="Inkoopprijs" v-model="data.buyPrice">
		</empty-input>

		<empty-input icon="fa-credit-card">
			<label v-if="showHelp">Verkoop</label>
			<input type="text" class="form-control" placeholder="Verkoopprijs" v-model="data.price">
		</empty-input>

		<empty-input icon="fa-cogs">
			<label v-if="showHelp">Minimum voorraad</label>
			<input type="text" class="form-control" placeholder="Minimum voorraad" v-model="data.minimum_stock">
		</empty-input>
		
		<div class="self-clear">
			<div class="pull-right">
				<button @click="showHelp = !showHelp" class="btn btn-primary"> 
					<i class="fa fa-question"></i> 
				</button>
				<button class="btn btn-danger" @click="showForm = false; data = null;">Annuleren</button>
				<button class="btn btn-primary" @click="save()">Opslaan</button>				
			</div>
		</div>
	</modal>
</template>

<script>
	export default {
		data() {
			return {
				showForm: false,
				data: null,
				key: null,
				showHelp: false
			}
		},
		
		methods: {
			load(id) {
				axios.get('/getMaterial/'+id).then(response => {
					this.data = response.data;
					this.showForm = true;
				});
			},
			
			save() {
				this.data.request_type = 1;
				axios.post('/materialen/opslaan', this.data).then(response => {
					this.data.parsedPrice = parseFloat(this.data.price).toFixed(2).split('.').join(',');
					this.data.parsedBuyPrice = parseFloat(this.data.buyPrice).toFixed(2).split('.').join(',');

					this.$emit('save', {
						data: this.data,
						message: response.data,
						key: this.key
					});

					this.data = null;
					this.showForm = false;
				}).catch(error => {
					this.catch(error);
				});
			}
		}
	}	
</script>
