<style scoped lang="sass">
	.form-item
		margin-bottom: 0px !important
</style>

<template>
	<modal @close="$emit('close')">
		<h3 v-if="fields.id">Notitie bewerken</h3>
		<h3 v-else>Notitie aanmaken</h3>

		<errors :errors="errors_list" @close="clearErrors()"></errors>

		<div class="form-item">
			<div style="vertical-align: top" class="form-icon">
				<i class="fa fa-list"></i>
			</div>
			<div class="form-input">
				<textarea-autosize 
					v-model="fields.note" 
					:min-height="30"
					:max-height="350"
				  	placeholder="Notitie" 
				  	class="form-control"
				/>						
			</div>				
		</div>

		<div class="self-clear">
			<div class="pull-right">
				<button @click="save()" class="btn btn-primary no-margin">
					Opslaan
				</button>
			</div>
		</div>
	</modal>
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			if(this.data) {
				let data = JSON.stringify(this.data);
				this.fields = JSON.parse(data);
				if(!this.fields.date) {
					let date = new moment();
					this.fields.date = date.format('YYYY-MM-DD');					
				}
			}
		},
		data() {
			return {
				fields: {},
			}
		},
		methods: {
			save() {
				if(!this.fields.id) {
					axios.post('/notes', this.fields).then(response => {
						this.$emit('saved', response.data);
					}).catch(error => {
						this.catch(error);
					});
				} else {
					axios.put('/notes/'+this.fields.id, this.fields).then(response => {
						this.$emit('saved', response.data);
					}).catch(error => {
						this.catch(error);
					});
				}
			},
		}
	}
</script>