<style lang="sass" scoped>
	#wrapper 
		display: inline-block

	.info
		font-style: italic

	#modal
		max-height: 600px
		overflow: scroll

	.nm 
		margin-bottom: 0 !important
</style>

<template>
	<div id="wrapper">
		<button @click="modal = true; data.description = desc" class="btn btn-default">Export</button>
		<modal @close="modal = false" v-if="modal">
			<div id="modal" class="col-md-12">
				<h3>PDF opties</h3>
				<div class="row">
					<div class="col-sm-2 label-pdf">
						<label for="description">Titel rapport</label>
					</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model="description" id="description">
					</div>
				</div>

				<div class="row" style="margin-bottom: 20px">
					<div class="col-sm-2 label-pdf">
						<label for="filename">Bestandsnaam</label>
					</div>
					<div class="col-sm-10">
						<input type="text" v-model="filename" id="filename" class="form-control">
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<h4>Opties bij uren</h4>
						<input type="radio" v-model="data.showHours" value=0 id="showHours0">
						<label class="unselectable mb-0" for="showHours0">Alleen omschrijving</label> <br>
						
						<p class="info" v-if="info">Alleen de datum en de omschrijving worden weergegeven.</p> 
						<input type="radio" v-model="data.showHours" value=1 id="showHours1">
						
						<label class="unselectable mb-0" for="showHours1">Uren en omschrijving</label> <br>
						<p class="info" v-if="info">Zelfde als de eerste optie, maar met het aantal uren erbij.</p> 
						
						<input type="radio" v-model="data.showHours" value=2 id="showHours2">
						<label class="unselectable mb-0" for="showHours2">Uren, omschrijving + tarieven</label> <br>
						
						<p class="info" v-if="info">Omschrijving + uren + tarieven</p>
						
						<div v-if="data.docType == 1">
							<input value="true" type="checkbox" v-model="data.showVatHours" id="showVatHours">
							<label class="unselectable nm" for="showVatHours"> BTW weergeven </label> <br>
							<p class="info" v-if="info">Bij de totalen het verschil tussen ex. BTW en incl. BTW weergeven of niet</p>

							<input type="checkbox" value="true" v-model="data.applyVatHours" id="applyVatHours">
							<label class="unselectable nm" for="applyVatHours"> BTW gelijk toepassen </label>
							<p class="info" v-if="info"> BTW gelijk toepassen op de prijzen van de uren </p>
						</div>
						<br>	
					</div>	
					
					<div class="col-md-6">
						<h4>Opties bij materialen</h4>
						<input value="true" type="checkbox" v-model="data.showMats" id="showMats">
						<label for="showMats" style="margin-bottom: 0" class="unselectable">Materialen laten zien</label> <br> 
						<p class="info" v-if="info">Materialen weergeven of niet</p>
						<div v-if="data.docType == 1">
							<input value="true" type="checkbox" v-model="data.showVatMat" id="showVatMat">
							<label class="unselectable nm" for="showVatMat"> BTW weergeven </label> <br>
							<p class="info" v-if="info">Bij de totalen het verschil tussen ex. BTW en incl. BTW weergeven of niet</p>
							
							<input type="checkbox" value="true" v-model="data.applyVatMat" id="applyVatMat">
							<label class="unselectable nm" for="applyVatMat"> BTW gelijk toepassen </label>
							<p class="info" v-if="info"> BTW gelijk toepassen op de prijzen van de materialen </p>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-6">
						<h4>Type document</h4>
						<input type="radio" name="docType" value="0" v-model="data.docType" id="docType0">	
						<label class="unselectable mb-0" for="docType0">Rapport uren en materialen</label> 
						<br> <p class="info" v-if="info">Persoonlijke rapport, niet voor de klant.</p>
						
						<input type="radio" name="docType" value="1" v-model="data.docType" id="docType1">	
						<label class="unselectable mb-0" for="docType1">Specificatie voor klant</label> 
						<br> <p class="info" v-if="info">Rapport voor de klant.</p>

						<input type="checkbox" v-model="data.showPhotos" id="showPhotos">
						<label class="unselectable mb-0" for="showPhotos">Foto's tonen</label>
						<br> <p class="info" v-if="info">Toon de foto's die toegevoegd zijn aan het project</p> <br>
					</div>
					
					<div class="col-md-6">
						<div v-if="data.docType == 1">
							<h4>Opties specificatie</h4>
							<input type="checkbox" v-model="data.totals" id="totals">
							<label for="totals" class="unselectable" style="margin-bottom: 0"> Totalen bij specificatie </label> <br> <p class="info" v-if="info"> De totalen onderaan (prijzen, totaal aantal uren etc.) weergeven of niet. 
							</p>
							<input type="checkbox" v-model="data.showRate" id="showRate">
							<label for="showRate" class="unselectable" style="margin-bottom: 0"> Tarieven bij specificatie 
							</label> <p class="info" v-if="info"> Tarieven weergeven of niet. Dit geld voor zowel uren als materialen. </p> <br>
						</div>
					</div>
				</div>

				<div class="pull-right">
					<button @click="info = !info" class="btn btn-primary"> 
						<i class="fa fa-question"></i> 
					</button>

					<a :href="'/pdf?id='+project_id+'\
						      &description='+description+'\
						      &showHours='+data.showHours+'\
						      &totals='+data.totals+'\
						      &docType='+data.docType+'\
						      &showRate='+data.showRate+'\
						      &showMats='+data.showMats+'\
						      &showVatMat='+data.showVatMat+'\
						      &showVatHours='+data.showVatHours+'\
						      &applyVatMat='+data.applyVatMat+'\
						      &applyVatHours='+data.applyVatHours+'\
						      &showPhotos='+data.showPhotos+'\
						      &filename='+filename"

					   class="btn btn-primary"> 
						<i class="fa fa-download"></i> Download 
					</a>	
				</div>	
				<div class="self-clear"></div>		

			</div>
		
		</modal>
	</div>
</template>

<script>
	export default {
		props: ['project_id', 'desc'],
		mounted() {
			this.data = this.emptyData();
		},
		data() {
			return {
				modal: false,
				data: null,
				description: 'Rapportage',
				filename: 'Rapportage',
				matchFilename: true,
				info: false
			}
		},
		watch: {
			description(val) {
				if(this.matchFilename)
				{
					this.filename = val;
				}
			},
			filename(val)
			{
				if(this.description != val)
				{
					this.matchFilename = false;
				}
			}
		},
		methods: {
			emptyData() {
				return {
		            docType: 0,
		            showHours: 2,
		            showMats: true,
		            showRate: true,
		            totals: false,	
		            showVatMat: true,
		            showVatHours: true,
		            applyVatMat: false,
		            applyVatHours: false,
					showPhotos: false,
				}
			}
		}
	}
</script>
