<style scoped lang="sass">
	.option-label 
		padding-left: 10px
		flex-grow: 1
		width: calc(100% - 50px)

	.select 
		display: flex
		align-items: center
		white-space: normal !important

	.select-photo
		height: 50px
		width: 50px
		background: #c5d7ec

		img 
			max-width: 50px
			max-height: 50px
			overflow: hidden

		i 
			color: #1c1d4c	
			font-size: 25px

	.has-photo
		background: white
</style>

<template>
	<modal @close="$emit('close')">
		<h3 v-if="fields.id">Materiaal bewerken</h3>
		<h3 v-else>Materiaal toevoegen aan project</h3>

		<errors :errors="errors_list" @close="clearErrors()"></errors>

		<div v-if="material">
			<h5 class="mb-0">
				{{ material.name }} <span v-if="material.description"> / {{ material.description }} </span>
			</h5>
			
			<p> 
				<span v-if="material.buyPrice"> Inkoopprijs: €{{ numberFormat(material.buyPrice) }} <br> </span>
				<span v-if="material.price"> Verkoopprijs: €{{ numberFormat(material.price) }} <br> </span> 
				<span>Laatst bijgewerkt: {{ dateFormat(material.updated_at) }}</span>
			</p>
		</div>

		<empty-input icon="fa-search">
			<input placeholder="Zoeken" type="text" class="form-control" v-model="material_search">
		</empty-input>

		<empty-input icon="fa-gavel">
			<v-select @input="assignMaterial(fields.material_id)"
			          v-model="fields.material_id"
			          :options="materialsFiltered"
			          :reduce="name => name.id"
			          :clearable="false"
			          :searchable="false"
			          :placeholder="placeholder(material_search)"
			          label="name"> 
				<template v-slot:option="option">
					<div class="select">
						<div class="select-photo" :class="{'has-photo': option.photo}">
							<img v-if="option.photo" 
								 :src="`/storage/${option.photo}`">
							<i v-else class="fa fa-image"></i>
						</div>
						<div class="option-label">
							{{ option.name }} <br>
							{{ option.description ? `/ ${option.description}` : null }}
						</div>
					</div>
				</template>			             	
			</v-select>
		</empty-input>

		<empty-input icon="fa-calendar">
			<datepicker :format="dateFormat" 
						:language="nl"
						v-model="fields.date"
						input-class="form-control datepicker"></datepicker>
		</empty-input>					

		<empty-input icon="fa-list">
			<input placeholder="Aantal" type="text" class="form-control" v-model="fields.amount">
		</empty-input>	

		<empty-input v-if="fields.material_id != 0">
			<label for="altPrice" class="unselectable">
				<input id="altPrice" type="checkbox" v-model="altPrice"> Andere prijs
			</label> <br>

			<label for="status" class="unselectable">
				<input id="status" type="checkbox" v-model="fields.status"> Gefactureerd
			</label>
		</empty-input>

		<div v-if="altPrice && fields.material_id != 0">
			<empty-input icon="fa-credit-card">
				<input placeholder="Prijs" v-model="fields.altPrice" type="text" class="form-control">
			</empty-input>
		</div>

		<div v-if="fields.material_id == 0">
			<empty-input icon="fa-user">
				<input type="text" class="form-control" placeholder="Naam" v-model="fields.altName">
			</empty-input>	

			<empty-input icon="fa-credit-card">
				<input type="text" class="form-control" placeholder="Prijs" v-model="fields.altPrice">
			</empty-input>	

			<empty-input icon="fa-pencil-alt">
				<input type="text" class="form-control" placeholder="Eenheid" v-model="fields.altUnit">
			</empty-input>
		</div>
	
		<div class="row">
			<div class="col-md-12">
				<button v-if="!confirmDelete" 
						:disabled="!fields.date || 
								   !fields.amount"
						@click="save()" 
						class="btn btn-primary pull-right"> 
					Opslaan 
				</button>

				<button v-if="!confirmDelete && fields.id" 
						@click="confirmDelete = true" 
						class="btn btn-danger pull-right">
					Materiaal verwijderen
				</button>

				<button v-if="confirmDelete" 
						@click="unlinkMaterial()" 
						class="btn btn-danger pull-right">
					Ok
				</button>
				<button v-if="confirmDelete" @click="confirmDelete = false" class="btn btn-primary pull-right">Annuleren</button>	
			</div>				
		</div>
		
	</modal>
</template>

<script>
	import {datepickerMixin} from '../../mixins/datepickerMixin';
	import {searchMixin} from '../../mixins/searchMixin';
	import vSelect from "vue-select";

	export default {
		props: ['data'],
		mixins: [datepickerMixin, searchMixin],
		components: {'v-select': vSelect},
		
		mounted() {
			this.loadMaterials();
			let data = JSON.stringify(this.data);
			data = JSON.parse(data);

			if(data.id) {
				axios.get('/getProjectMaterial/'+data.id).then(response => {
					this.fields = response.data;
					this.fields.date = new Date(this.fields.date);
				});
			} else {
				this.fields = data;
				this.fields.date = new Date();
			}
		},
		
		data() {
			return {
				fields: {},
				material_search: null,
				materials: [],
				material: null,
				confirmDelete: false,
				altPrice: false,
			}
		},
		
		methods: {
			loadMaterials(search = null) {
		        axios.get('/getMaterials', { params: { search: search } })
		             .then(response => {
		             	this.materials = response.data;

		             	this.materials.unshift({id: 0, name: 'Zelf toevoegen'});
		             });
			},
			
			save() {
	        	let data = this.fields;

	            if(data.altPrice && data.altPrice.includes(','))
	            {
	                data.altPrice = data.altPrice.split(',').join('.');
	            }

	            data.date = this.formatDate(data.date).split('-').reverse().join('-');

	            if(!data.id) {
		            axios.post('/linkMaterials', data).then(response => {
		            	this.handleSaved(response.data);
		            });
		        } else {
		        	axios.post('/updateLink/'+data.id, data).then(response => {
		        		this.handleSaved(response.data);
		        	});
		        }
	        },
			
	        unlinkMaterial() {
	        	axios.get('/unlinkMaterial/'+this.fields.id).then(response => {
	        		this.$emit('saved', response.data);
	        	});
	        },
			
	        assignMaterial(id) {
	        	let selected = _.filter(this.materials, {id: id});

	        	if(selected.length > 0) {
	        		this.material = selected[0];
	        	}
	        },
			
	        numberFormat(number) {
	        	return numeral(number).format('0.00').split('.').join(',');
	        },
			
	        dateFormat(date) {
	        	return moment(date).format('DD-MM-YYYY');
	        }, 	
			
	        handleSaved(message) {
                this.$emit('saved', message);
				this.$emit('close');
	        },
			
	        placeholder(search) {
	        	if(search) {
	        		return 'Geen materiaal gevonden';
	        	} else {
	        		return 'Selecteer een materiaal';
	        	}
	        }
	    },
		
		watch: {
	        material_search(val) {
	        	if(this.materialsFiltered[0]) {
	        		this.fields.material_id = this.materialsFiltered[0].id;
	        	} else {
	        		this.fields.material_id = null;
	        	}
	        },	
		},
		
		computed: {
			materialsFiltered() {
				return this.search(this.materials, this.material_search, ['name', 'description', 'number'])
			}
		}
	}
</script>
