<template>
	<modal @close="$emit('close')">
		<errors :errors="errors_list" @close="clearErrors()"></errors>

		<empty-input>
			<input type="text" class="form-control" v-model="fields.text">
		</empty-input>

		<div class="self-clear">
			<div class="pull-right">
				<button @click="$emit('close')" class="btn btn-primary">Annuleren</button>
				<button @click="saveNote(fields)" class="btn btn-primary">Opslaan</button>
			</div>
		</div>
	</modal>
</template>

<script>
	export default {
		props: ['data'],
		mounted() {
			let data = JSON.stringify(this.data);
			this.fields = JSON.parse(data);
		},
		data() {
			return {
				fields: {},
			}
		},
		methods: {
			saveNote(fields) {
				this.save('timernotes', fields);
			},
			handleSaved(event) {
				this.$emit('saved', event);
			}
		}
	}
</script>