<style lang="sass" scoped>
	ul 
		padding-left: 0
		list-style: none
		margin: 0 0 10px 0
</style>

<template>
	<div v-if="errors.length > 0" class="alert alert-danger">
		<ul>
			<div class="modal-close">
				<a href="#" @click.prevent="$emit('close')">
					<i class="fa fa-times"></i> 
				</a>
			</div>

			<li> <b>Er is een fout opgetreden:</b> </li>
			<li v-for="error in errors">{{ error }}</li>
		</ul>
	</div>
</template>

<script>
	export default {
		props: ['errors']
	}
</script>