<template>
	<div>
		<div class="row">
			<div class="col-md-4 d-flex">
				<input placeholder="Zoeken..." 
					type="text" 
					class="form-control input-search mb-md-0 mb-2" 
					v-model="searchQuery">

				<button class="btn btn-primary text-nowrap" @click="search()">
					<i class="fas fa-search"></i>
				</button>
			</div>
		</div>

		<div>
			<h3 class="align-with-table">Zoekresultaten</h3>

			<vue-table :columns="columnsProjectMaterials" :rows="projectMaterials">
				<template v-slot:cell-project_name="{row}">
					<span v-if="row.project">
						<a :href="`/projecten/inzien/${row.project.id}`">{{ row.project.name }}</a>
					</span>
				</template>

				<template #cell-name="{row}">
					<a :href="`/materialen/inzien/${row.id}`">{{ row.name }}</a>
				</template>
			</vue-table>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			searchQuery: '',
			projectMaterials: [],
			columnsProjectMaterials: [
				{ key: 'project_name', label: 'Project' },
				{ key: 'name', label: 'Materiaal' },
				{ key: 'amount', label: 'Aantal' },
				{ key: 'unit', label: 'Eenheid' },
			]
		}
	},

	methods: {
		search() {
			axios.post('/search', { search: this.searchQuery })
				.then(({data}) => {
					this.projectMaterials = data.projectMaterials;
				});
		}
	},

	computed: {
		searchResults() {
			return this.projectMaterials;
		}
	}
}
</script>
