<template>
	<table class="table data-table">
		<thead>
		<tr :class="{'sortable': sort}">
			<th v-for="column in columns" @click="sortColumn(column)">
				<slot :name="`column-${column.key}`">{{ column.label }}</slot>

				<sort-arrow v-if="sort && sort.key === column.key" :direction="sort.direction">></sort-arrow>
			</th>
		</tr>
		</thead>

		<tbody>
		<tr v-for="row in rows">
			<td v-for="column in columns" :width="`${column.width}`">
				<strong class="text-primary--bold d-block d-md-none w-25">{{ column.label }}</strong>

				<slot :name="`cell-${column.key}`" :row="row">
					{{ row[column.key] }}
				</slot>
			</td>
		</tr>

		<tr v-if="rows.length === 0">
			<td class="text-center" :colspan="columns.length">
				<em class="text-muted">Geen resultaten gevonden.</em>
			</td>
		</tr>
		</tbody>
	</table>
</template>

<script>
export default {
	props: {
		columns: Array,
		rows: Array,
		sort: Object,
	},
	
	methods: {
		sortColumn(column) {
			if (column.sortable !== false) {
				this.$emit('sort', column.key);
			}
		}
	},
	
	components: {
		sortArrow: require('../sort-arrow').default,
	}
}
</script>

<style lang="sass" scoped>
.sortable
	th:hover
		cursor: pointer
		background: darken(white, 5%)

@media(max-width: 768px)
	thead
		display: none

	tbody
		border-top: 1px solid black

	td
		width: 100%
		display: block
		border-top: 0 !important
		padding: 0.25rem

		&:last-of-type
			border-bottom: 2px solid black		
</style>
